<div class="content">
	<%= render :partial => 'layouts/flash_box' %>

	<div id="faq-box" class="content-box">
		<h1>
			Why choose <%= Constants::SHORT_SITENAME%>?
		</h1>
		<p>
			<%= Constants::SHORT_SITENAME%> helps development teams connect and engage with top engineers in a comfortable and informal way.
			It's peer-to-peer recruiting combined with the world's best job ad.&nbsp;
			Our solution attracts &ldquo;stealth&rdquo; candidates, the ones who <em>don't</em> talk to recruiters.
		</p>
		
		<div id="faq-accordion" class="fyi-accordion faq-accordion">
			<h3 class="standard-section-header collapsed">What does the name mean?</h3>
			<div class="accordion-panel">
				<p>
					In software development, a &ldquo;right join&rdquo; is a way of linking together the data  from 
					two database tables. 
				</p>
				<p>
					The &ldquo;<%= Constants::SHORT_SITENAME%>&rdquo; recruiting service is called that because it helps
					the <em>right</em> developers <em>join</em> the <em>right</em> companies.
				</p>
			</div>

			<h3 class="standard-section-header collapsed">How do you  help me attract software developers?</h3>
			<div class="accordion-panel">
				<p>
					We've designed a beautiful job posting that shows employed, experienced software engineers
					the things they want to know about your team.
				</p>
				<p>
					Foremost among these attractions is is your own engineers.
				</p>
				<p>
					When potential employees see this job posting, they  &ldquo;ping&rdquo; your company.
					Your hiring manager then sees the candidate’s LinkedIn profile
					(<%= Constants::SHORT_SITENAME%> also provides  optional screening services), and chooses whether to pass
					the contact over to one of the team for a peer-to-peer conversation.
				</p>

			</div>

			<h3 class="standard-section-header collapsed">How do we get the job posting in front of potential employees?</h3>
			<div class="accordion-panel">
				<ul>
					<li>
						We provide the tools for your team  to share the posting on social media and track progress.
						When a team member shares it, he or she appears at the center&mdash;the messaging here is not &ldquo;Come work for my boss&rdquo;
						but &ldquo;<em>Come Work with Us</em>.&rdquo;
					</li>
					<li>
						We also provide a geotargeted tab for the company website. Clicking on the tab pops up the same beautiful job post
						distributed on all the channels.
					</li>
					<li>
						We can also arrange for the tab to highlight your job openings on professional sites read by millions of software developers.
					</li>
					<li>
						We can distribute your ad to leading job-listing services, like Monster, LinkedIn, and Dice. 
					</li>
					<li>
						The posting can pep up recruitment email; it also appears on <%= Constants::SHORT_SITENAME%>'s own job listing.
					</li>
				</ul>
			</div>

			<h3 class="standard-section-header collapsed">Why is opening up the corporate culture the way to bring in strong candidates?</h3>
			<div class="accordion-panel">
				<p>
					&ldquo;The <em>best thing</em> you can do for employees&mdash;a perk better than foosball
					or free sushi&mdash;is hire only &lsquo;A&rsquo;-players
					to work alongside them. Excellent colleagues trump everything else&rdquo;
					(<%= link_to "How Netflix Reinvented HR" ,"http://hbr.org/2014/01/how-netflix-reinvented-hr/ar/2" %>,
					<i>Harvard Business Review</i>).
				</p>
				<p>
					Treat current and potential employees like the professionals they are. Let them connect. They'll know where to go from there.
				</p>
			</div>

			<h3 class="standard-section-header collapsed">How can I monitor the effectiveness of my recruiting compaign?</h3>
			<div class="accordion-panel">
				<p>
					Your employer dashboard  presents the most important data points, tracking clicks, leads, and other key data.
				</p>
				<p>
					We also send you a weekly summary of the most important numbers.
				</p>
				<p>
					Your employees get their own dashboard that show their shares and success in pulling in leads.
				</p>

			</div>
			
			<h3 class="standard-section-header collapsed" id="sample_job_blurb">What goes into a good, attractive  job description?</h3> 
			<div class="accordion-panel">
				<p>
				The goal here is to attract top professionals, in contrast to normal job ads that list requirements. The first <%=Job::SHORT_DESCRIPTION_LEN%>
				characters of the description are shown inline in the ad, so these should be short attractive blurbs. Here are some samples 
				attractive opening paragraphs. 
				</p>
				<ul>
					<li>
						&ldquo;We are developing a next-gen analytics platform aimed squarely at Web devs 
						who need high-powered analytics. 
						It's a thrill to live on the border between the JavaScript and Big Data. 
						We enjoy our work and will do what it takes to make sure you do too. 
						Ping us and we'll talk!&rdquo;
					</li>
					<li>
						&ldquo;Do you love creating new Rails apps, each one building on what you know, 
						and each teaching you something new? 
						That's us. We're the go-to-experts for RoR in Boston; 
						every one of our developers is known as a leader in the field. 
						If you're not there already, we'll help you get there.
						We're serious about career growth.&rdquo;
					</li>
				</ul>
			</div>


			<h3 class="standard-section-header collapsed">Why don't you provide resum&eacute;s or LinkedIn profiles in the candidate listings?</h3>
			<div class="accordion-panel">
				<p>
					Experienced, employed, developers don't maintain their resum&eacute;s and don't feel like applying to jobs.
					And face it, you hate browsing resum&eacute;s.
				</p>
				<p>
					So, we only require the <em>minimum</em> of information needed for an introduction.
				</p>
				<p>
					You'll get the relevant professional profiles, like LinkedIn or GitHub, when the candidate makes contact.
					That serves for screening. If you want to move ahead, you can ask the candidate for a resum&eacute;.
				</p>
			</div>

			<h3 class="standard-section-header collapsed">What does it cost?</h3>
			<div class="accordion-panel">
				<p>
					<%if signed_in?%>
						You can see the pricing plans on your <%= link_to "profile page", edit_employer_path(current_user, :anchor=>"plans-and-pricing")%>.
					<%else%>
						See the <%= link_to "Get Started", employer_get_started_path(:anchor=>"plans-and-pricing" )%> page for pricing plans.
					<%end%>
				</p>
				<p>
					Please <%= email_contact_link("contact us") %> for  discounts for pre-paid annual plans.
				</p>
			</div>

			<h3 class="standard-section-header collapsed">I'm not hiring right now. Can I freeze my subscription?</h3>
			<div class="accordion-panel">
				 Just close all open job positions. We do not charge for  months in which there are no open jobs.
				 You can simply add job positions to resume your paid plan when you need it again. 
			</div>

			<h3 class="standard-section-header collapsed">Can you support more countries or job categories?</h3>
			<div class="accordion-panel">
				<p>
					We are focusing on software developers, an in-demand profession that we know and love.
					We plan to add more professions once we're sure we can fully serve the demand for recruiting developers.
				</p>
				<p>
					We've been adding new countries over time. The countries we now support are <%= country_links_as_sentence(:path => method(:employer_welcome_path))%>.
				</p>
				<p>
					Please <%= email_contact_link("contact us")%>  and let us know what you need, and we'll add the countries
					and job categories that get the most requests.
				</p>
			</div>

			<h3 class="standard-section-header collapsed">Who is behind <%= Constants::SHORT_SITENAME%>?</h3>
			<div class="accordion-panel">
				<%= render :partial => "layouts/founders"%>
			</div>
		</div>

		<h1>
			More questions?
		</h1>
		<p>
			  Contact us through our
			  <%= uservoice_contact_link("support form")%> or
			  shoot us <%= email_contact_link("an email")%>, and  we'll get right back to you.
			  Or call us at <%=Utils::phone_with_pfx%>.
		</p>
	</div>
</div>
<script>
	$(document).ready(function() {
		var anchor = $(location).attr('hash');
		if (anchor != null) {
 			var hdrs =$(anchor);
 			if (hdrs.length){
 				var header = $(hdrs[0]);
 				var panel = header.next();
				
				openAccordionPanel(header, panel);
				
			}
		}
	});	
</script>
