<div class="content">
	<%= render :partial => 'layouts/flash_box' %>

	<div id="search-form-box">
		<div class="standard-section-header">Search candidates</div>
		<div class="section-box">
			<%= form_tag({:controller => "users", :action => "index"}, :method => "get", :remote => true, :id => "search-form", ) do %>
				<div class="form-row clearfix">
					<div class="form-column">
						<div class="form-cell">
							<%= label_tag(:wantedposition, "The job position you need to fill") %><br>
							<a class="field-tooltip" title="To find candidates more effectively, please use standard job titles, provided automatically."></a>
							<%= text_field_tag(:wantedposition, @search_position.nil? ? '' : @search_position.name.html_safe, :autocomplete => "off", :maxlength => 60, :placeholder => "e.g., senior software engineer", :class=>"half-row-width", :spellcheck => true) %>	
						</div>
					</div>
					<div class="form-column">
						<div class="form-cell">
							<%= label_tag(:location, "Where?") %><br>
							<a class="field-tooltip" 
								title='The city where the employee will work. You can start typing a city name or a zip code and use autocomplete.<br><br>You can also choose a predefined tag from the dropdown list.<br><br>The search returns candidates in this and nearby cities.'></a>
							<%= text_field_tag(:location, @search_location.nil? ? '' : @search_location.name.html_safe, :autocomplete => "off", :placeholder => "san francisco, california", :maxlength => 60,  :spellcheck => false, :class=>"half-row-width") %>
						</div>
					</div>
					<div class="form-column">
						<div class="form-cell">
							<%= label_tag(nil, "") %><br>
							<%= submit_tag "Search", :class => "standard-button", :id => "search-btn", :name => nil %>
							<div title="Searching..." class="loading-icon" id="searching-wait-indicator"></div>
						</div>
					</div>
					
					<% unless @job.nil? %>
						<%= hidden_field_tag(:jobid, @job.id) %>
					<% end %>
					<%= hidden_field_tag(:skill) %>
					<%= hidden_field_tag(:lat) %>
					<%= hidden_field_tag(:lng) %>							
				</div>
			<%end%>
		</div>
	</div>
	 
	<div id="search-results-ajax-box">
		<%= render 'users/search_results' %>
	</div>
</div>

<%=render :partial=>"layouts/bottom_stripe", :locals => {:include_summary => false} %>
 

<script>
   	$("#search-form").submit(function(){
   		$('#searching-wait-indicator').css("visibility", "visible");
   		
		var suggested = $("#location").locationcomplete("selected");
		if(suggested != null){
			$("#lat").val(suggested.lat);
			$("#lng").val(suggested.lng);
		} else {
			$("#lat").val("");
			$("#lng").val("");			
		}
	});
    
	$(".search-for-skill-link").live("click", function () {
   		$('#skill').val($(this).text());
   		$("#search-form").submit();
   		return false;
	});
	
	$("#release-skill-constraint a").live("click", function () {
   		$('#skill').val("");
   		$("#search-form").submit();
   		return false;
	});
	
	$("#release-position-constraint a").live("click", function () {
   		$('#wantedposition').val("");
   		$("#search-form").submit();
   		return false;
	});	
	
	$("#release-location-constraint a").live("click", function () {
   		$('#location').val("");
   		$("#search-form").submit();
   		return false;
	});
    
	$( "#location" ).locationcomplete({
		defaultOpts: <%=ActiveSupport::JSON.encode(LocationTag.user_default_options).html_safe%>,
		country_code: "<%=I18n.t :country_code%>",
		placeholder: "<%=I18n.t :location_placeholder%>",
		use_province: "<%=I18n.t :use_province%>"
	}).keydown(function(e){
		if (e.keyCode === 13){
			$("#search-btn").focus();
			$("#search-form").trigger('submit');
		}
	});	
	
	$( "#wantedposition" ).cachedautocomplete({
		url: "/autocomplete/positions",
		sequentialMatching: false,
		defaultOpts: <%=ActiveSupport::JSON.encode(suggest_commonly_used(PositionTag, 8)).html_safe%>
	}).keydown(function(e){
		if (e.keyCode === 13){
			$("#search-btn").focus();
			$("#search-form").trigger('submit');
		}
	});
	
 
	$(function () {  
	  $('.fyi_pagination a').live("click", function () {  
	    $('.fyi_pagination').html('Page loading...');  
	    $.get("<%=users_url%>?" + this.href.split("?")[1], null, null, 'script');  
	    return false;  
	  });
	});
</script>

