<% if current_user.pending? %>
	<% verification_path = current_user.employee? ? verify_user_path(current_user, :locale => current_user.country_code) : verify_employer_path(current_user) %>
	<% edit_path = current_user.employee? ? edit_user_path(current_user, :locale => current_user.country_code) : edit_employer_path(current_user) %>
	
	<div id="account-verification-panel" tabindex="0"><%# tab index for escape http://stackoverflow.com/questions/1717897/jquery-keydown-on-div-not-working-in-firefox%>
		<div class="center-wrapper">
			<div class="account-verification-box">
				<div class="standard-section-header"><span>Verify your account</span><%=link_to "Close", "#", :class => "close"%></div>
				<div class="section-box">
					<%=form_tag(verification_path, :id => "user-verification-form", :remote => true) do %>
						<div class="form-row">
							Please enter the temporary password we sent to <%=current_user.email%>.
						</div>
						
						<div class="form-row clearfix">
							<div class="form-column">
								<div class="form-cell">
									<%= hidden_field_tag("user[email]", current_user.email) %>
									<%= label_tag(nil, "Temporary password", :class => "mandatory") %><br>
									<%= password_field_tag(:verify_password, "", :name=> "user[password]", :maxlength => 60, :class=>"validate[required]", :spellcheck => false, :autocomplete => "off", :tabindex => 1) %>
								</div>
							</div>
							<div class="form-column">
								<div class="form-cell">
									<%= label_tag(nil, "") %><br>
									<%= submit_tag "Verify account", :id=>"verify-account-button", :class=>"standard-button", :name => nil, :tabindex => 2 %>
									<img title="Sending new password" alt="Sending new password" style="visibility: hidden;" class="verification-wait-indicator" src="<%= asset_path('shared/loading.gif') %>" />
								</div>
							</div>
						</div>
						
						<div class="form-row" id="verification-results">
						</div>
					<%end%>				
				</div>
			</div>	
		</div>	
	</div>
	
	<script type="text/javascript">
		var verified = false;
		
		$("#verify_password").focus();
		
		$("#user-verification-form").submit(function(){
		 	var is_valid = $(this).validationEngine('validate');
		 	if (is_valid){
		 		$("#verify_password").prop('readonly', true);
				$("#verify-account-button").prop('disabled', true);
				$(".verification-wait-indicator").css("visibility", "visible");
			}
			return is_valid;
		});	
		
		$(document).on("click", "#change-password-on-verification", function(){
			$("#account-verification-panel").fadeOut( "slow", function() {
				openChangePasswordDialog();
			});
			return false;
		});
		
	   	$('#user-verification-form').on('ajax:success',function(data, status, xhr){
	    	verified = true;
	    	$(".verification-wait-indicator").css("visibility", "hidden");
	    	fadeInMessage($("#verification-results"), "<span class='success'>Your account is now verified. For maximum security, we recommend you <a id='change-password-on-verification' href='#'>change your password</a>.</span>");
	    }).on('ajax:error',function(xhr, status, error){
	 		$("#verify_password").prop('readonly', false);
			$("#verify-account-button").prop('disabled', false);
			$(".verification-wait-indicator").css("visibility", "hidden");
			fadeInMessage($("#verification-results"), "<span class='error'>Verification failed. Please try again or <a href='<%=edit_path%>'>update</a> your profile to get a new verification email.</span>");
	    });
	    
	    $('#account-verification-panel .close').click(function(e){
	    	if (verified) {
		  		$("#account-verification-panel").fadeOut( "slow");
		  	} else {
		  		window.location.href = "<%=edit_path%>";
		  	}
		  	return false;
	    })
	    
	    $('#account-verification-panel').keyup(function(e) {
		  if (e.keyCode == 27) { 
		  	$('#account-verification-panel .close').click(); 
		  }   // esc
		});
	</script>
<% end %>
