<h1>
	<%=link_to "<<", admin_path, :class => "blue-inline-button" %>
	Attach positions to groups
</h1>

<div>
	<% if @positions.blank? %>
		All positions are fine.
	<% else %>
		<%= form_tag admin_attach_position_path, :id => "fix_position_form" do %>  
			<br>
			<%= label_tag(nil, "Position", :class=>"mandatory") %><br>
			<%=select_tag 'invalid_position', options_for_select(@positions)%><br>
			<br>
			
			<%= label_tag(nil, "Fixed position name (fix capialization and typos)", :class=>"mandatory") %><br>
			<%= text_field_tag(:fixed_position, "", :autocomplete => "off", :maxlength => 60,  :spellcheck => false) %><br>
			<br>

			<%= label_tag(nil, "Attach to (to start a new family put here the fixed position name)") %><br>
			<%= text_field_tag(:family_position, "", :autocomplete => "off", :maxlength => 60,  :spellcheck => false) %><br>
			<%= check_box_tag :autocomplete, '1', false%> <%= label_tag(:autocomplete, "Add to autocomplete and freeze capitalization") %><br>
			<br>
			
			<%=link_to "Submit", "#", :id => "attach", :class => "blue-inline-button" %>&nbsp;
		<% end %>
		
		<script type="text/javascript">
			$("#attach").click(function(event){
				$("#fix_position_form").submit();
				return false;
			});
		
			$( "#family_position" ).cachedautocomplete({
				url: "<%=autocomplete_positions_path(:locale => nil)%>",
				forceLowerCase: false,
				sequentialMatching: false
			});
			
			$("#invalid_position").change(function () {
				var str = $(this).find("option:selected").text();
				str = str.replace(/[^\s]+/g, function(word) {
				  return word.replace(/^./, function(first) {
				    return first.toUpperCase();
				  });
				});
			    $("#fixed_position").val(str);
			}).change();
		</script>
	<%end%>
</div>