<!--<%=job.id%>-->
<div class="job-ad">
	<div class="job-ad-body">
		<div class="position-box">
		    <span class="position">
		    	<%=job.position.name%>
		    </span>
		    <span class="separator">at</span>
		    <span class="company"><%=job.company_name %></span>
		    
		    <% unless job.status == Job::DRAFT %>
		    	<div class="time-distance separator"><%=distance_of_time_in_days_ago(job.published_at.nil? ? job.created_at : job.published_at)%></div>
		    <% end %>
		</div>
		
		<div class="location-box">
			<%=raw job.all_location_parts.map{|loc| h(loc)}.join("<span class='separator'> or </span>")%>
		</div>
		
		<div class="description-box">
			<% unless job.logo.nil? %>
				<div class="logo-box">
					<% if job.company_url.blank? %>
						<%= image_tag(job.logo.image.standard.url(:secure => true), class: "logo-img") %>
					<% else %>
					    <% tt_title =  ERB::Util.html_escape(job.company_name)%>
						<%# It makes sense to set tt_title as title in next line. But that gives us an unescaped title! Don't know why!  So I use JS, below.%>
						<%= link_to image_tag(job.logo.image.standard.url(:secure => true),  class: "logo-img"), job.company_url, id: "job-#{job.id}", :target => "_blank", :rel => "nofollow", :class => "logo-link" %>
						<script>$("#<%= "job-#{job.id}" %>").attr('title',"<%=tt_title%>");</script>
					<% end %>
				</div>
			<% end %>
			
			<% full_plain_text = Utils.html_to_formatted_plaintext(job.full_description) %>
			<% truncated_plain_text = Utils.truncate(full_plain_text, Job::SHORT_DESCRIPTION_LEN) %>
			<%= truncated_plain_text%>
		</div>
		<div style="clear:left"></div>
		
		<% if ad_rendering_mode != Ad::RENDERING_MODE_COMPACT %>
			<% tags = job.tech_stack_list.split(",") %>
			<% unless tags.blank? %>
				<div class="tags-box">
					<% tags.each do |tag| %>
						<span><%=tag.strip%></span>
					<% end %>
				</div>
			<%end%>	
		<%end%>
	</div>
	
	<% if ad_rendering_mode != Ad::RENDERING_MODE_COMPACT %>
		<% if job.active_boards.any? || job.employer.has_active_ambassadors? %>
			<div class="ad-footer-box">
				<div class="boards-box">
					<%job.active_boards.each do |board| %>
						<span class="board-link <%=board.name%>" board="<%=board.name%>" title="<%=board.tag%>"></span>
					<%end%>	
				</div>
				
				<% if job.employer.has_active_ambassadors? %>
					<div class="team">
						<% job.employer.ambassadors.only_active.shuffle.first(3).each_with_index do |ambassador, i| %>
							<% resource, link = ambassador.profile_links_map.first %>
							<%= link_to image_tag(ambassador.avatar_path, class: "avatar-img"), link, :title => "#{ambassador.first_name} #{ambassador.last_name} - #{ambassador.title}", :target => "_blank", :rel => "nofollow", :class => "avatar-link" %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>
