<% require 'rinku' %>

<div class="content" id="employer-leads">
	<%= render :partial => 'layouts/flash_box' %>
	
	<div class="standard-section-header"><span>Leads for this job position</span></div>
	<div class="section-box">
		<% if @job.closed? %>
			<div class="closed-tab">Closed</div>
		<% end %>
		<div class="job-ad-box">
			<%=render :partial => 'jobs/ad_with_counters', :locals => {:job => @job} %>
		</div>
	</div>

	<% active_leads = @infointerviews.select {|lead| lead.status != Infointerview::CLOSED_BY_EMPLOYER && lead.status != Infointerview::CLOSED_BY_FYI} %>
	<% closed_by_employer_leads = @infointerviews.select {|lead| lead.status == Infointerview::CLOSED_BY_EMPLOYER} %>

	<div class="standard-section-header"><span>Active leads</span></div>
	<div class="section-box">	
		<% if active_leads.any? %>
			<% active_leads.each do |infointerview| %>
  				<% if infointerview.status == Infointerview::NEW %>
  					<div class="new-tab">New!</div>
  				<% end %>
	  			<div class="infointerview-outer-box">
					<% unless infointerview.referred_by.nil? %>
						<div class="referred-by">
							Referred by <%=infointerview.referred_by_ambassador.first_name%>&nbsp;<%=infointerview.referred_by_ambassador.last_name%>
						</div>
					<% end %>
					<%=link_to("Close", infointerview_close_path(infointerview, :locale => nil), method: :post, :class => "close", :title => "Close the lead. You can reopen it later.")%>	
	  				
					<%=render :partial => 'infointerviews/infointerview', :object => infointerview%>
					
					<% unless @job.closed? %>
					    <div class="contact-candidate-box">
					    	<% ambassador_select_opts = current_user.ambassadors.only_active.map { |ambassador| ["#{ambassador.first_name} #{ambassador.last_name}", ambassador.id, {"data-firstname" => escape_javascript(ambassador.first_name)}] } %>
							<% if ambassador_select_opts.empty?%>
								Want your team members to talk to the candidate? <%= link_to("Ask them", employer_path(current_user, :anchor=>"team")) %> to join as ambassadors.
				    		<% else %>
					    		<div class="send-message-title-box">Contact</div>
				    			<div class="form-row">
				    				<div class="form-cell">
				    					<label>Ask someone in your team to talk with the candidate.</label><br>
			    						<%= select(:ambassador, :id, options_for_select(ambassador_select_opts, infointerview.referred_by), {}, {:class=>"validate[required] standard-select ambassadors-list", :data => {"infointerview-path" => infointerview_delegate_path(infointerview.id)}}) %>&nbsp;
			    						<%=button_tag("Delegate", :class => "delegate-to-ambassador standard-button")%>
			    						&nbsp;
			    						<div title="Sending..." class="loading-icon"></div>
			    						<div class="results-box"></div>
			    					</div>
					    		</div>
					    	<% end %>	
					    </div>
				    <%end%>
				</div>
			<% end %>
		<% else %>
			There are no active leads for this job.
			<% unless @job.closed? %>
				To get more pings,
					<ul>
						<li>
							 share the ad over social networks,
						</li>
						<li>
							link to it in your recruiting emails,
						</li>
						<%unless @job.employer.join_us_widget_running?%> 
							<li>add the tab to your company's site,</li>
						<%end%> 
						<li>or contact <%=Constants::SHORT_SITENAME%> to add your post to developer-oriented sites.</li>
				</ul>
				 <% end %>	
		<% end %>
	</div>
	
	<% if closed_by_employer_leads.any? %>
		<div class="standard-section-header"><span>Closed leads</span></div>
		<div class="section-box clearfix">
			<% closed_by_employer_leads.each do |infointerview| %>
				<div class="closed-infointerview-box">
					<div class="closed-infointerview-top">
						<%= image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)), class: "avatar-img") %>
						<div class="candidate-name"><%=infointerview.first_name%> <%=infointerview.last_name%></div>
						<div class=""><%=Rinku.auto_link(CGI::escapeHTML(infointerview.email), :all, 'target="_blank"').html_safe%></div>
					</div>
					<div class="closed-infointerview-bottom">
						<%=link_to("Reopen", infointerview_reopen_path(infointerview, :locale => nil), method: :post)%>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	
	<%# set new leads for this job to seen%>
	<script type="text/javascript">
		setTimeout( function() {
			$.post("<%=leads_set_seen_employer_job_path(@job.employer_id, @job.id)%>");
		}, <%=Random.new.rand(5000..10000) %>);	// don't send all together
		
		$(".delegate-to-ambassador").click(function(){
			var select = $(this).siblings(".ambassadors-list").first();
			var selected_option = select.find(":selected");
			var ambassador_firstname = $(selected_option).attr('data-firstname');
			
			var loading_icon = $(this).siblings(".loading-icon").first();
			$(loading_icon).css("visibility", "visible");
			
			var results_box = $(this).siblings(".results-box").first();
			
			var self = this;
			$(self).attr("disabled", "disabled");
			
			$.post($(select).attr('data-infointerview-path'), { ambassador_id: $(selected_option).val() } )
			.done(function(data) {
				$(results_box).html("<div class='success'>We've passed on your follow-up request to " + ambassador_firstname + ".</div>");
			})
			.fail(function() {
				$(results_box).html("<div class='error'><%=Constants::ERROR_FLASH%></div>");
			})
			.always(function() {
			    $(loading_icon).css("visibility", "hidden");
			    $(self).removeAttr("disabled");
			});
			
			return false;
		});
	</script>
	
	<% other_active_jobs = current_user.jobs.select {|job| job.id != @job.id && job.status != Job::CLOSED} %>
	<% other_closed_jobs = current_user.jobs.select {|job| job.id != @job.id && job.status == Job::CLOSED} %>
	<% if other_active_jobs.any? || other_closed_jobs.any? %>	
		<div class="standard-section-header"><span>See leads for other jobs</span></div>
		<div class="section-box clearfix">
			<% if other_active_jobs.any? %>
				<div class="job-links-list">
					<div class="job-links-list-title">Active jobs</div>
					<ul>
						<% other_active_jobs.each do |job| %>
							<li><%=link_to("#{job.position_name} - #{job.location_name}", leads_employer_job_path(current_user, job, :locale => job.country_code))%></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			
			<% if other_closed_jobs.any? %>
				<div class="job-links-list">
					<div class="job-links-list-title">Closed jobs</div>
					<ul>
						<% other_closed_jobs.each do |job| %>
							<li><%=link_to("#{job.position_name} - #{job.location_name}", leads_employer_job_path(current_user, job, :locale => job.country_code))%></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	<% end %>
</div>

