<% max_salary = I18n.t(:max_salary).to_i %>

<%= form_for(@user) do |f| %>  
	<div class="standard-section-header">For your anonymous profile</div>
	<div class="section-box">
		<div class="form-row clearfix">
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil,  current_job_s(:employee), :class=>"mandatory") %><br>
				  	<a class="field-tooltip" title="The job title you now have."></a>
			 		<% current_position_name = @user.new_record? && !@defaults.nil? ? @defaults[:current_job] : @user.current_position_name %>
					<%= text_field_tag(:currentposition, current_position_name, :autocomplete => "off", :maxlength => 60, :placeholder => "e.g., Software Engineer", :class=>"validate[required,custom[nonEmpty]]", :spellcheck => true, :tabindex => "10") %>			
				</div>
				<div class="form-cell">
					<%= label_tag(nil, city_s(:employee)) %><br>
					<a class="field-tooltip" 
					      title='<p>The city where you want to work.</p><p>You can start typing a city name or a zip code and use autocomplete.</p><p>We find matches in the city you choose and nearby cities.</p>'></a> 
					<%= text_field_tag(:location, @user.location_name, 
						:autocomplete => "off", :placeholder => "e.g., san francisco, california", 
						:maxlength => 60, :class=>"", :spellcheck => false, :tabindex => "30") %>
						
					<div class="location-options-box">
						<%= check_box_tag 'can_telecommute', '1', @user.can_telecommute, :tabindex => "40" %>&nbsp;<%= label_tag "can_telecommute", "Telecommuting OK" %>
						<br>
						<%= check_box_tag 'can_relocate', '1', @user.can_relocate, :tabindex => "50"  %>&nbsp;<%= label_tag "can_relocate", "Anywhere in #{I18n.t(:country_name )}" %>
					</div>
					
					<%= hidden_field_tag(:lat, @user.latitude) %>
					<%= hidden_field_tag(:lng, @user.longitude) %>		
				</div>
			</div>
			
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil, wanted_job_s(:employee), :class=>"mandatory") %><br>
					<a class="field-tooltip" title="The dream job you'd like to move to. To help employers find you, please use a standard job title."></a>
					<% wanted_position_name = @user.new_record? && !@defaults.nil? ? @defaults[:wanted_job] : @user.wanted_position_name %>
					<%= text_field_tag(:wantedposition, wanted_position_name, :autocomplete => "off", :maxlength => 60, :placeholder => "e.g., Senior Software Engineer", :class=>"validate[required,custom[nonEmpty]]", :spellcheck => true, :tabindex => "20") %>						
				</div>
			</div>
		</div>
		
		<div class="form-row">
			<%= label_tag(nil,  skills_s(:employee)) %>
			<% skill_levels= 
				"<ul>
			        <li>
			           <em>Learner:</em> If you've been  learning or using this technology for 1-2 years
			        </li>
			        <li>
			          <em>Professional:</em> If you've developed production systems with this technology for 3 or more years
			        </li>
			        <li>
			           <em>Expert:</em> If you deal with the hardest challenges
			          (the ones no one else knows how to solve) with this technology.
			          You have a proven track record of delivering complex code relating to this technology,
			          e.g., system internals, infrastructures, frameworks.
			        </li>
			     </ul>"
			%>
			<a class="field-tooltip" title="<%=raw skill_levels%>"></a>
			<div class="form-row group-box">
				<%= text_field_tag(:skilltag, nil, :name => nil, :autocomplete => "off", :placeholder => "e.g., java", :maxlength => 60, :class => "", :spellcheck => false, :tabindex => "60") %>&nbsp;&nbsp;
				   
			    <a id="add-skill-btn-10"   class="add-tag-button" tabindex = "70"><%= seniority_s(UserSkill::EXPERT)%>&nbsp;+</a>&nbsp;
				<a id="add-skill-btn-4-6"  class="add-tag-button" tabindex = "80"><%=seniority_s(UserSkill::PROFESSIONAL)%>&nbsp;+</a>&nbsp;
				<a id="add-skill-btn-1"  class="add-tag-button" tabindex = "90"><%=seniority_s(UserSkill::LEARNER)%></span>&nbsp;+</a>	
			 
				<ol id="skills-tags-list" class="tags-list"></ol>
				<%= hidden_field_tag(:skills) %>
			</div>
		</div>
		
		<div class="form-row">
			<%= label_tag(nil, "Your main aspiration for your next job") %>
			<a class="field-tooltip" 
		      title='Give us your top aspiration here. Use the "What you need" field to say what else you require from any job offer.'> 
		   	</a>
			<div class="form-row group-box aspirations-box">
				<% User::ASPIRATIONS.each_with_index do |aspiration, index| %>
					<div>
						<%=radio_button_tag 'aspiration', index, @user.aspiration == index, :tabindex => "100"%>&nbsp;<%= label_tag("aspiration_#{index}", aspiration[:label], class: "radio-buttton-label") %>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="form-row">
			<%= label_tag(nil, wanted_salary_s(:employee)) %>
			<a class="field-tooltip" title="Offers must be for this <%=I18n.t(:salary_period)%> salary or higher"></a>
			<div class="form-row group-box">
				<% wanted_salary = @user.new_record? && !@defaults.nil? ? @defaults[:salary] : @user.wanted_salary %>
				<%= hidden_field_tag(:wantedsalary, wanted_salary) %>
				
				<div class="tags-list" id="salary-tags-list">
					<div id="salary-tag" ><span id="salarytext"></span><a id="remove-salary-tag"></a></div>	
				</div>
		
				<div class="salary-slider-outer-box">
					<div class="salary-slider-inner-box">
						<div id="salary-slider" ></div>
					</div>
					<div id="salary-ruller"><%=Utils::format_currency(max_salary / 2000)%>K</div>
				</div>
			</div>
		</div>
		
		<div class="form-row">
			<%= label_tag(nil, job_qualifier_s(:employee ) ) %>
			<a class="field-tooltip" title="<p>Don't be shy. Ask for anything you want.</p><p>Employers only contact you if they can meet your requirements.</p>"></a>
			<div class="form-row group-box">
				<%= text_field_tag(:jobqualifiertag, nil, :name => nil, :autocomplete => "off", 
						:placeholder => "e.g., learning opportunities", :maxlength => 60, :class => "", :spellcheck => true, :tabindex => "110") %>&nbsp;&nbsp;
				<a id="add-job-qualifier-btn" class="add-tag-button" tabindex = "120">Add&nbsp;+</a>
				<ol id="job-qualifier-tags-list" class="tags-list"></ol>
				<%= hidden_field_tag(:jobqualifiers) %>
			</div>
		</div>
			
		<div class="form-row clearfix">
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil, free_text_s(:employee, true)) %>
					<div id="free-text-counter" class="message-counter"><%=Constants::MAX_STRING_LENGTH%></div>
					<%= text_area_tag(:freetext, @user.free_text, :maxlength => Constants::MAX_STRING_LENGTH, :rows => 2, :class=>"free-text", :counterId=>"free-text-counter", :tabindex => "120")%>			
				</div>
			</div>
		</div>
	</div>
	
	<div class="standard-section-header">Personal info (only visible to employers you contact)</div>
	<div class="section-box">
		<div class="form-row clearfix">
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil,  "First name", :class=>"mandatory") %><br>
					<%= text_field_tag(:firstname, @user.first_name, :autocomplete => "on", :maxlength => 60, :class=>"validate[required,custom[nonEmpty]]", :spellcheck => false, :tabindex => "130") %>			
				</div>
			</div>
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil,  "Last name", :class=>"mandatory") %><br>
					<%= text_field_tag(:lastname, @user.last_name, :autocomplete => "on", :maxlength => 60, :class=>"validate[required,custom[nonEmpty]]", :spellcheck => false, :tabindex => "140") %>			
				</div>
			</div>		
		</div>
		
		<div class="form-row">
			<div class="form-cell">
				<%= label_tag(nil, "Links to your professional profiles (LinkedIn, GitHub, personal site, blog, etc.)") %><br>
				<div id="resume-text-counter" class="message-counter"><%=Constants::MAX_STRING_LENGTH * 2%></div>
				<%= text_area_tag(:resume, @user.resume, :maxlength => Constants::MAX_STRING_LENGTH * 2, :rows => 5, :class=>"professional-profiles", :counterId=>"resume-text-counter", :tabindex => "150")%>			
			</div>
		</div>
		
		<div class="form-row clearfix">
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil,  raw("Email address"), :class=>"mandatory") %><br>
					<a class="field-tooltip" title="You will get a confirmation email to activate your profile."></a>
		    		<%= text_field_tag :email, @user.email, :maxlength=>255, :spellcheck =>false, :class=>"validate[required,custom[email]]", :tabindex => "160" %>	
				</div>
			</div>
		</div>	
	</div>
	
	<div class="buttons-box">
		<%if @user.new_record? %>
			<h3 class="only-sign-up">
				Please sign up <em>only</em> if you have authorization to work in <a href="#" id="country-info"><%=I18n.t :country_name%></a>.
			</h3>

			<%= submit_tag "Let's Go!", :id=>"submit", :class=>"standard-button", :name => nil, :tabindex => "170" %>
		<%else%>
			<%= submit_tag "Update", :id=>"submit", :class=>"standard-button", :name => nil, :tabindex => "170" %>
			&nbsp;&nbsp;
			<%= link_to "Cancel", user_path(@user, :locale => @user.country_code), :class=>"cancel-button", :tabindex => "180" %>
		<%end%>	
	</div>
<% end %>

<div id="country-tooltip-dialog"  title="For work in <%=I18n.t(:country_name)%>" >
	<p>
		This page is for software developers authorized to work in <%=I18n.t(:country_name)%>.
		We also support <%=country_links_as_sentence(:path=>method(:register_path), :exclude=>I18n.locale) %>.
		<br><br>
		If you'd like us to add your country, please  
		<%= uservoice_contact_link "make a request" %> at our online support form.
	</p>
</div>


<script type="text/javascript">

	$( "#location" ).googleAddressPicker({
		country: "<%=I18n.t :country_code, locale: @locale%>",
		placeholder: "<%=I18n.t :location_placeholder, locale: @locale%>",
		keep_location_components: <%=(I18n.t :google_keep_location_components, locale: @locale).html_safe%>
	}).on( "complete", function( event, data ) {
        var suggested = $(this).googleAddressPicker("selected_info");
        if(suggested) {
			$("#lat").val(suggested.lat);
			$("#lng").val(suggested.lng);
        } else {
        	$("#lat").val("");
			$("#lng").val("");
        }
    });
	
	$( "#currentposition" ).cachedautocomplete({
		url: "<%=autocomplete_positions_path(:locale => nil)%>",
		sequentialMatching: false,
		forceLowerCase: false,
		defaultOpts: <%=ActiveSupport::JSON.encode(suggest_commonly_used(PositionTag, 8)).html_safe%>
	});	
	
	$( "#wantedposition" ).cachedautocomplete({
		url: "<%=autocomplete_positions_path(:locale => nil)%>",
		sequentialMatching: false,
		forceLowerCase: false,
		extraParam: "#currentposition"
	});

	$( "#skilltag" ).cachedautocomplete({
		multiValue: true,
		sequentialMatching: false,
		url: "<%=autocomplete_skills_path(:locale => nil)%>",
		extraParam: "#wantedposition"
	});
	
	$( "#jobqualifiertag" ).cachedautocomplete({
		multiValue: true,
		sequentialMatching: false,
		url: "<%=autocomplete_jobqualifiers_path(:locale => nil)%>",
		defaultOpts: <%=ActiveSupport::JSON.encode(suggest_commonly_used(JobQualifierTag, 8)).html_safe%>
	}).keypress(function(e) {
		if(e.which == 13) {
			$( "#add-job-qualifier-btn" ).click();
		}
	});	
</script>

<script type="text/javascript">
	$(function() {
		var add_more_skills_plchlder= "You can add more skills"
		$( "#add-skill-btn-1" ).click(function() {
        	createNewTag("#skilltag", "data-skill", "1", "#skills-tags-list", false, "<%="Know %s at #{seniority_s(UserSkill::LEARNER)} level"%>",add_more_skills_plchlder);
        	return false;
        });
        
        $( "#add-skill-btn-4-6" ).click(function() {
        	createNewTag("#skilltag", "data-skill", "5", "#skills-tags-list", false,"<%="Know %s at #{seniority_s(UserSkill::PROFESSIONAL)} level"%>",add_more_skills_plchlder);
        	return false;
        });              
        
        $( "#add-skill-btn-10" ).click(function() {
        	createNewTag("#skilltag", "data-skill", "10", "#skills-tags-list", false,"<%="Know %s at #{seniority_s(UserSkill::EXPERT)} level"%>", add_more_skills_plchlder);
        	return false;
        });
        
		$( "#add-job-qualifier-btn" ).click(function() {
	    	createNewTag("#jobqualifiertag", "data-job-qualifier", "1", "#job-qualifier-tags-list", false,"Job offers must include %s",  "You can add more requirements");
	    	return false;
	    });
    });      
</script>

<script type="text/javascript">
	<% user_job_qualifiers = @user.new_record? && !@defaults.nil? ? @defaults[:reqirements] : @user.user_job_qualifiers.collect {|one_qualifier| one_qualifier.job_qualifier_tag.name} %>
	<% user_job_qualifiers.each do |one_qualifier| %>
		writeTag("<%=escape_javascript(one_qualifier).html_safe%>", "data-job-qualifier", "1", "#job-qualifier-tags-list", null, false, "<%=escape_javascript("Job offers must include #{one_qualifier}").html_safe %>");
	<% end %>

	<% @user.user_skills.each do |one_skill| %>
		writeTag("<%=escape_javascript(one_skill.skill_tag.name).html_safe%>", "data-skill", <%=one_skill.seniority%>, "#skills-tags-list", null, false, "<%=escape_javascript("Know #{one_skill.skill_tag.name} at #{seniority_s(one_skill.seniority)} level").html_safe%>");
	<% end %>
</script>

<script type="text/javascript">
	 
	$(function() {
		$("#country-info").click(function(event){
		    $( "#country-tooltip-dialog").dialog( "open" );
		    return false;
		});
	}); 
    
	$(function() {
	  $( "#country-tooltip-dialog" ).dialog({ 
	  		autoOpen: false, modal:true, resizable: false, position: { my: "center", at: "center", of: window},
	  		open: function (evt, ui) {
            	$(':focus', this).blur();
        	} 
	  	});
	});
	  
	/*Format number with commas or other delimiter separating thousands, millions etc. 
	 Param nStr may be a number or
	 a string serialization (with no delims) of a number.
	 The number may have a decimal point or not.*/
	function addDelimitersToNumberString(nStr, delimiter) {
		nStr += '';  
		x = nStr.split('.'); 
		x1 = x[0];
		x2 = x.length > 1 ? '.' + x[1] : '';
		var rgx = /(\d+)(\d{3})/;
		while (rgx.test(x1)) {
			x1 = x1.replace(rgx, '$1' + delimiter + '$2');
		}
		return x1 + x2;
	}
   
   
	jQuery.fn.update_salary_text = function() {
	    var input_ctrl = $(this[0]) // It's your element
	    var args = arguments[0] || {};
	    var val = args.value;
	    if (val === undefined || val == 0) {
	    	input_ctrl.parent().removeClass("defined-salary");
	    	input_ctrl.parent().removeClass("onetag");
	    	input_ctrl.parent().addClass("undefined-salary");
	    	input_ctrl.html("I'd rather leave it open for now");
	    } else {
		    var val_str = val.toString();
		    var val_with_commas = addDelimitersToNumberString(val_str, "<%=I18n.t(:thousands_delimiter)%>");
        	var currency_unit = unescapeHTML( "<%=I18n.t(:currency_unit)%>");
	    	input_ctrl.html("At least " + currency_unit+ val_with_commas);
	    	input_ctrl.parent().removeClass("undefined-salary");	   
			input_ctrl.parent().addClass("onetag");
			input_ctrl.parent().addClass("defined-salary");
	    }
	};
	
	$(function() {
		$( "#salary-slider" ).slider({
			range: "min",
			value: $("#wantedsalary").val(),
			min: 0,
			max: <%=max_salary%>,
			step: <%=I18n.t(:salary_step)%>,
			slide: function( event, ui ) {
				var val = ui.value;
				$( "#wantedsalary" ).val(val);
				$( "#salarytext" ).update_salary_text({value: val});
			}
		});
		$( "#salarytext" ).update_salary_text({ value: $("#wantedsalary").val()});
	});

   	$('#remove-salary-tag').click(function() {
   		$( "#wantedsalary" ).val(0);
   		$( "#salary-slider" ).slider("value", 0);
		$( "#salarytext" ).update_salary_text({value: 0});
		return false;
	});
	
	function checkLocationOptionsValid() {
		var location = $.trim($("#location").val());
		var can_relocate = $("#can_relocate").is(':checked');
		var can_telecommute = $("#can_telecommute").is(':checked');
		return location != "" || can_relocate || can_telecommute;
	}

	function doSubmitForm() {
		var res = $("form.new_user, form.edit_user").validationEngine('validate');
		if (res) {
			if (!checkLocationOptionsValid()){
				$("#location").focus();
				$("#location").validationEngine('showPrompt', 'Please enter a metro area or check <%=Constants::TELECOMMUTE %>/<%=Constants::RELOCATION%> below.', 'error', 'topRight', true);
				res = false;
			} else if($.trim($("#skilltag").val()).length > 0){
				$("#skilltag").focus();
				$("#skilltag").validationEngine('showPrompt', 'Please click experience-level button', 'error', 'topRight', true);
				res = false;
			} else {
				$("#skills").val(tagsToParams("#skills-tags-list", "data-skill"));
				var job_qual_val =  $.trim($("#jobqualifiertag").val());
				if (job_qual_val !=""){
					createNewTag("#jobqualifiertag", "data-job-qualifier", "1", "#job-qualifier-tags-list", true, "Job offers must include %s","");//last param not significant since we are submitting
				}
				$("#jobqualifiers").val(tagsToParams("#job-qualifier-tags-list", "data-job-qualifier"));
				
				// prevent double submit
		 		if($('#submit').attr("disabled") != "disabled") {
		 			$('#submit').focus();
					$('#submit').attr('disabled','disabled');
				}
			}
	    }
	
		return res;
	}
   
	$("form.new_user").submit(function(){
		if(doSubmitForm()) {
			trackEvent("developer", "profile created");
		} else {
			trackEvent("developer", "profile creation failed");
			return false;
		}
		
		return true;
	});
	
	$("form.edit_user").submit(function(){
		return doSubmitForm();
	});	
</script>
