<%
#Note: We only display invitations about which an email has been sent. 
active_interviews = current_user.interviews.select {|interview| interview.status_one_of?([Interview::CONTACTED_BY_EMPLOYER])}
%>

<% if active_interviews.blank? %>
	<p>
		No pings yet? <%= link_to "Take a look", jobs_path%> at some escape-worthy opportunities
		and ping companies to talk to potential colleagues. 
	</p>
<% else %>
	<% active_interviews.each do |interview| %>
		<div id="interview-<%=interview.id%>" class="user-interviews-box">
			<div class="candidate-facing-ad">
				<div class="job-ad-box">
					<% job = interview.job %>
					<%=render :partial => 'jobs/ad', :locals => {:job => job, :ad_rendering_mode => Ad::RENDERING_MODE_FULL}%>
					<div class="buttons-box">
						<% old_infointerview = @infointerviews.find {|ii| ii.job.id == job.id } %>
						<% if old_infointerview.nil? %>
			    			<%=link_to "Learn more", "#", :class=>"embedded-ad-launcher", :data => {"ad-url" => we_are_hiring_employer_path(job.employer.reference_num, :job => job.id, :mode => :embedded)} %>
					    	&nbsp;or&nbsp;
					    	
					    	<%if job.employer.enable_ping%>
						    	<%= form_tag(infointerview_create_path(:employer_id => job.employer.id, :job_id => job.id, :locale => nil), :remote => true, :class=>"direct-ping-form") do |f| %>  
									<%= submit_tag "Ping back", :class => "ping-button", :name => nil%>
								<% end %>
							<% else %>
								<%=link_to "Apply...", job.ad_url, :target => "_fyi_ad_target", :class=>"ping-button" %>
							<% end %>
							
						<% else %>
							<span>You pinged back <%=distance_of_time_in_days_ago(old_infointerview.created_at).downcase%>.</span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		
		<%=render :partial => 'jobs/embedded_ad'%>
	<% end %>
	
	<p>
		<%= link_to "Take a look", jobs_path%> at more escape-worthy opportunities
		and ping companies to talk to potential colleagues. 
	</p>
<% end %>
