<div class="section-box">
	<div class="time-distance-in-words">
		Reference #<%=user.reference_num%>
	</div>
	
	<h2>Targeted position</h2>
	
	<div class="targeted-box">
		<% if user.vouched %>
			<div class="crown" title="Endorsed by <%=Constants::SHORT_SITENAME%>"></div>
		<% end %>

		<div class="targeted-position"><%=user.wanted_position_name%></div>
		<div class="targeted-location"><%=raw user.all_location_parts.map{|loc| h(loc)}.join("<span class='location-sep'> or </span>")%></div>
	</div>
	
	<h2>More about the candidate</h2>
    <%=render :partial => 'users/user_details', :object => user, :locals => {:for_view=> :searcher}%>
    
    <div class="contact-candidate-box">
    	<% if signed_in? && current_user.employer? %>
			<% published_jobs = current_user.published_jobs.includes([:location, :position]).all %>
			<% if not current_user.verified?%>
				<div>To ping candidates, please <%=link_to "verify", employer_path(current_user)%> your account.</div>
    		<% elsif published_jobs.empty? %>
    			<div>
    				Please <%=link_to("create", new_employer_job_path(current_user, :refid => user.reference_num))%> 
    				a relevant job posting to ping this candidate.
    			</div>
    		<% else %>
    			<% published_jobs.select! {|job| job.locale == user.locale } %>
	    		<% past_interviews = Interview.find_all_by_employer_id_and_user_id(current_user, user) %>
	    		<% past_interviews.select! {|interview| interview.status != Interview::RECOMMENDED } %>
	    		<% past_interviews.each do |interview| %>
	    			<% published_jobs.select! {|job| job.id != interview.job.id } %>
	    		<% end %>
	    		
				<% if published_jobs.count > 0 %>
    				<% include_blank = published_jobs.count > 1 && (job.nil? || !published_jobs.include?(job)) %>
	    			<% job_opts = published_jobs.map { |job| ["#{job.position.name} - #{job.location.name}", job.id] } %>
	    			
	    			<div id="send-message-box-<%=user.id%>">
	    				<div class="send-message-title-box">Contact</div>
	    				<div class="form-row">
	    					<div class="form-cell">
								<%= form_for(Interview.new, :remote => true, :html => {:class => "send-msg-form", :id => "message-to-#{user.id}"}) do |f| %>
			    					<%= label_tag(:job, "Ping the candidate about this job position.") %><br>
			    					<%= select(:job, :id, job_opts, {:include_blank => include_blank}, {:class=>"standard-select validate[required]"}) %>&nbsp;
			    					<%= f.hidden_field(:user_id, :value => user.id, :id => "user-id-#{user.id}") %>
			    					<%= hidden_field_tag(:decision, nil, :id => "decision-#{user.id}", :class => "should-pitch") %>
			    					<input type="button" onclick="pitch_position('#message-to-<%=user.id%>', 'yes');" class="send-msg-btn standard-button" value="Ping" />&nbsp;&nbsp;
			    					<% if allow_ignore %>
			    						<input type="button" onclick="pitch_position('#message-to-<%=user.id%>', 'no');" class="no-msg-btn standard-button" value="Ignore" />
			    					<% end %>
			    					<img title="Sending..." alt="Sending..." class="wait-indicator" src="<%= asset_path('shared/loading.gif') %>" />
			    				<% end %>
			    				<div class="ajax-error-message"></div>
		    				</div>
		    			</div>
		    			
						<% unless past_interviews.blank? %>
		    				<div>You've already pinged this candidate about <%= pluralize(past_interviews.count, 'job position')%>.</div>
		    			<% end %>
		    		</div>
	    		<% else %><%#No active jobs%>
	    			<div>You've  already pinged this candidate, or marked that you're not interested.</div>
	    		<% end %>
    		<% end %>
	    <% else %>
	    	<div>
	    		To ping the candidate, please
	    		<% if @current_page_info[:intended_for] == :employee %>
	    			<%= link_to "sign in", employer_search_path %>
	    		<% else %>
	    			<%= link_to "sign in", "#", :class => "sign-in-link" %> 
	    		<% end %>
	    		with your employer credentials or <%= link_to "register", employer_get_started_path %>.
	    	</div>
	    <% end %>
    </div>
</div>