<%if @users.blank?%>
	<div class="content-box">
		<h1>No candidates match your query.</h1>
		<br><br>
		Suggestions:
		<ul>
			<li>Make sure that all words are spelled correctly.</li>
			<li>Use the auto-complete as a guide.</li>
			<li>Try a more general job title.</li>
		</ul>
		Click <%= link_to "here", employer_search_path %> to reset the form.
	</div>
<% else %>
	<div id="voiceover">
		<%=@voiceover.html_safe%>
		
		<%if !@popular_skills.empty? %>	
			<div class="filter-links-box">
				<span class="filter-label">Filter by skills:</span>
				<%@popular_skills.each do |skill|%>
					<a class="search-for-skill-link"><%=skill.name%></a>
				<%end%>
			</div>
		<%end%>	
	</div>
	
	<div class="pagination-box standard-section-header clearfix">
		<div class="pagination-info">
			<%= page_entries_info @users %>
		</div>
		<%
			params_for_paginate = params.merge({:controller => "users", :action => "index"}); 
		%>
		<%= will_paginate @users, :params => params_for_paginate, :class => 'pagination-controls', :inner_window => 2 %>
	</div>
	
	<div id="users-search-list" class="search-results-box">
		<% @users.each do |user| %>  
			<%=render :partial => 'users/one_search_result', :locals => {:user => user, :job => @job, :allow_ignore => false}%>
		<% end %>
	</div>
	
	<div class="pagination-box standard-section-header clearfix">
		<div class="pagination-info">
			<%= page_entries_info @users %>
		</div>
		<%
			params_for_paginate = params.merge({:controller => "users", :action => "index"}); 
		%>
		<%= will_paginate @users, :params => params_for_paginate, :class => 'pagination-controls', :inner_window => 2 %>
	</div>
<%end%>
