<% 
unless defined?(exclude)
	exclude = []
end
%>

<div id="user-<%=user_details.id%>" class="user-details">
	<div class="wanted-postion-box attr-box">
		<%= label_tag(:wantedposition,  wanted_job_s(for_view)   ) %>
		<div class="attr-value"><%=user_details.wanted_position_name%></div>			
	</div>
	
	<div class="location-box attr-box">
		<%= label_tag(:location, city_s(for_view) ) %>
		<div class="attr-value">
			<%=raw user_details.all_location_parts.map{|loc| h(loc)}.join("<span class='location-sep'> or </span>")%>
		</div>
	</div>
	
	<div class="current-position-box attr-box">
		<%= label_tag(:currentposition,  current_job_s(for_view) ) %> 
		<div class="attr-value"><%=user_details.current_position_name%></div>
	</div>
	
	<% unless user_details.aspiration.nil? %>
		<div class="aspirations-box attr-box">
			<%= label_tag(:aspiration,  "Career aspiration") %>
			<div class="attr-value">
				<%=User::ASPIRATIONS[user_details.aspiration][:label]%>
			</div>
		</div>
	<% end %>		
	
	<% unless user_details.free_text.blank? %>
		<div class="free-text-box attr-box">
			<%= label_tag(:free_text,  free_text_s(for_view) ) %>
			<div class="attr-value">
				<%= user_details.free_text %>
			</div>
		</div>
	<% end %>
	
	<% requirements = user_details.user_job_qualifiers.collect {|req| req.job_qualifier_tag.name} %>
	<% requirements.push("at least #{Utils::html_unescape Utils::format_currency(user_details.wanted_salary, user_details.locale)}") if user_details.wanted_salary > 0 && !exclude.include?(:salary) %>
	
	<% unless requirements.empty? %>
		<div class="requirements-box attr-box">
			<%= label_tag(:jobqualifiertag,  job_qualifier_s(for_view) ) %>
			<div class="attr-value"><%=requirements.join(", ")%></div>
		</div>
	<% end %>
	
	<%unless user_details.user_skills.empty?%>
		<div class="skills-box attr-box">
			<%= label_tag(:skilltag, skills_s(for_view) ) %>
			<div class="attr-value">
				<ol class="tags-list"></ol>
			</div>
			<script type="text/javascript">
				<% user_details.user_skills.each do |one_skill| %>
					writeTag("<%=escape_javascript(one_skill.skill_tag.name).html_safe%>", "data-skill", <%=one_skill.seniority%>, ".tags-list", "#user-<%=user_details.id%>", true, "Knows <%= "#{one_skill.skill_tag.name} at the #{seniority_s(one_skill.seniority)} level"%>");
				<% end %>
			</script>
		</div>	
	<%end%>
</div>
