<div class="content" id="employee-dashboard">
	<%= render :partial => 'layouts/flash_box' %>
	
	<div class="standard-section-header"><span>Recent pings from employers</span></div>	
	<div class="section-box interviews-box">
		<%=render :partial => 'interviews'%>
	</div>
	
	<% if current_user.ask_requirements %>
		<div class="content-box">
			<%= form_tag update_requirements_user_path(current_user), :id => 'update-requirements-form' do %>
				<div class="page-heading-box">
					<h1>Tell us what turns you on.</h1>
					<h2>Employers will ping you about specific jobs that meet your requirements.</h2>
				</div>
				<%= render :partial => 'users/requirements_form', :locals => {:user => current_user} %>
				<div class="buttons-box">
					<%= submit_tag "Submit", :id=>"submit", :class=>"standard-button", :name => nil %>
				</div>
			<% end %>
		</div>
		
		<script type="text/javascript">
			$("#update-requirements-form").submit(function(){
				setRequirementFields();
				trackEvent("developer", "job requirements submited");
				
				// prevent double submit
		 		if($('#submit').attr("disabled") != "disabled") {
		 			$('#submit').focus();
					$('#submit').attr('disabled','disabled');
				}
				return true;
			});
		</script>
	<% elsif current_user.company_ratings.blank? %>
		<%=render :partial => 'users/company_rating'%>
	<% elsif current_user.created_at > 1.day.ago %>
		<div class="standard-section-header"><span>Spread the word</span></div>	
		<div class="section-box tell-friends">
			<p>
				<em><%=Constants::SHORT_SITENAME%></em> lets software engineers learn about the companies directly from their professional peers,
				and it lets development teams bring in their own future colleagues. Who needs recruiters? <em>Let engineers recruit each other!</em>
			</p>
			<p>
				See these little round share buttons right here? You know what to do! 
			</p>
			<%=render :partial => 'widgets/addthis_buttons'%>
		</div>	
	<%end%>
</div>

<%=render :partial => 'sessions/verification_form'%>
