<% 
url = root_url
subject = "What's the best job you can snag?"
description = "#{Constants::SHORT_SITENAME} helps software professionals learn about new opportunities in a comfortable and informal way. " << 
			"It bypasses recruiters to help development teams bring in colleagues who are a pleasure to work with." 
%>

<div class="share-buttons-box">
	<div class="share-button linkedin addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%=url%>"
				addthis:title="<%=subject%>"
				addthis:description="<%=description%>">
		<a class="	addthis_button_linkedin">
			<%= image_tag "shared/social/linkedin.png", size: "41x41", alt: "Share" %>
		</a>
	</div>
	
	<div class="share-button facebook addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%=url%>"
				addthis:title="<%=subject%>"
				addthis:description="<%=description%>">					
		<a class="addthis_button_facebook" fb:like:href="<%=url%>">
			<%= image_tag "shared/social/facebook.png", size: "41x41", alt: "Share" %>
		</a>
	</div>
	
	<div class="share-button twitter addthis_toolbox addthis_default_style addthis_32x32_style"	addthis:url="<%=url%>"
				addthis:title="<%=subject%>"
				addthis:description="<%=description%>">
		<a class="addthis_button_twitter">
			<%= image_tag "shared/social/twitter.png", size: "41x41", alt: "Share" %>
		</a>
	</div>
	
	<div class="share-button google-plus addthis_toolbox addthis_default_style addthis_32x32_style"	addthis:url="<%=url%>"
				addthis:title="<%=subject%>"
				addthis:description="<%=description%>">
		<a class="addthis_button_google_plusone_share">
			<%= image_tag "shared/social/google-plus.png", size: "41x41", alt: "Share" %>
		</a>
	</div>
</div>


<%= render partial: 'widgets/addthis_buttons_script' %>
