<div class="content">
	<%= render :partial => 'layouts/flash_box' %>

	<div id="faq-box" class="content-box">
		<h1>
			How does <%= Constants::SHORT_SITENAME%> help me?
		</h1>
		<p>
			We put you in touch with software teams. We know that you don't talk to recruiters, and you don't apply for jobs.
			We let you learn  about  the work environment at different companies from software developers you can trust and understand.
		</p>

		<div id="faq-accordion" class="fyi-accordion faq-accordion">
			<h3 class="standard-section-header collapsed">How can I learn about companies worth moving to?</h3>
			<div class="accordion-panel">
				<ul>
					<li>
						Browse job postings on our site, ping the development teams, talk to them, and see if they have the culture and colleagues you want.
					</li>
					<li>
						You can also  sign up in less than a minute. <em>No resum&eacute;</em>, just enough info
						 for a development team to make the initial connection.
						You stay anonymous, and get pinged by fellow techies who know what it's like to be a software developer.
					</li>

				</ul>
			</div>

			<h3 class="standard-section-header collapsed">How is <%= Constants::SHORT_SITENAME%> different from other job sites?</h3>
			<div class="accordion-panel">
				<p>
					Everything in <%= Constants::SHORT_SITENAME%> is optimized for developers who <em>already have</em> a job,
					who can afford to wait.
				</p>
				<p>
					Your profile is anonymous, and employers can ping you only if they are ready to give you your requirements, if you do sign on.
				</p>
				<p>
					When you &ldquo;contact&rdquo; companies through their <%= Constants::SHORT_SITENAME%> postings, you don't apply for a job.
					You ping them with a click or two and let them know that they can contact you for a chat.
					If they want to talk,  a <em>software developer</em>, not a recruiter, gets in touch.
				</p>
			</div>
			
			<h3 class="standard-section-header collapsed">How do employers know I'm good?</h3>
			<div class="accordion-panel">
				We review all new profiles and vouch for the best of the best.
                Our approval rate for premier status is only <%=Constants::VOUCHED_ACCOUNTS_PERCENTAGE%>%. 
                The crown next to your email address at the top of your dashboard 
                lets you know that we've checked your online profiles, and that we vouch for you as a serious candidate worth contacting.  
			</div>

			<h3 class="standard-section-header collapsed">What does it cost?</h3>
			<div class="accordion-panel">
				<%= Constants::SHORT_SITENAME %> is completely free to employees, and always will be. We make our money from employer fees.
			</div>

			<h3 class="standard-section-header collapsed">What if I'm not working in software development, or not in a supported country?</h3>
			<div class="accordion-panel">
				<p>
					We're targeting software engineers in <%= country_links_as_sentence(:path => method(:jobs_path))%> for now.
				</p>
				<p>
					But we're planning to expand, and we've been adding countries as requests come in. We may even branch out
					to other tech professions.
				</p>
				<p>
					Please leave a request at
					<%= uservoice_contact_link("our online feedback form")%>.
					We'll add support for the professions and areas that get the most requests.
			</div>

			<h3 class="standard-section-header collapsed">I hate recruiter spam!</h3>
			<div class="accordion-panel">
				So do we. Our mission is to disrupt, destroy, and replace the spamozoidal recruiter industry which we know today.
				You can sign up to let employers see your anonymous profile and ping you if they can meet your requirements.  
				We will also persinally recommend a small selection  of good opportunities. And you can instantly unsubscribe whenever you want.

			</div>

			<h3 class="standard-section-header collapsed">What if my boss finds out?</h3>
			<div class="accordion-panel">
				<p>
					Sometimes it seems that you have to sneak around while looking for a job,
					like you're <em>cheating</em> on your boss.
					That's ridiculous.
					It's completely ethical to switch jobs.
				</p>

				<p>
					So, we keep you <em>anonymous</em> unless you choose to contact a specific employer, or respond to their message.
				</p>
			</div>

			<h3 class="standard-section-header collapsed">Who is behind <%= Constants::SHORT_SITENAME%>?</h3>
			<div class="accordion-panel">
				<%= render :partial => "layouts/founders"%>
			</div>

		</div>

		<h1>
			More questions?
		</h1>
		<p>
			   Contact us through our
			  <%= uservoice_contact_link("support form")%> or
			  shoot us <%= email_contact_link("an email")%>, and  we'll get right back to you.
			  Or call us at <%=Utils::phone_with_pfx%>.
		</p>		
	</div>
</div>
