<div id="dashboard">
	<%= render :partial => 'layouts/flash_box' %>
	<%= render :partial => 'ambassadors/header' %>
	
	<% leads = @ambassador.followups.where({ status: Followup::NEW}).order("created_at DESC") %>	
	
	<% if leads.any? %>
		<div class="content-box leads-list">
			<div class="content">
				<h1>Talk with your fellow software developers</h1>
				<p>
					Check them out through their web presence.
					If they look interesting, send a short email to say hi and maybe set up a phone call.
					The goal is to have an informal chat and find out
					if you'd enjoy working with this person.
				</p>
				
				<div class="infointerviews-list">
					<%leads.each do |lead|%>
						<%infointerview = lead.infointerview%>
						<a id="followup-<%=infointerview.id%>"></a>
						<div class="infointerview-outer-box">
							<div class="intro">
								Targeted position: <em><%=infointerview.job.position_name%></em>
							</div>
							<%=link_to("Close", close_followup_employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil, :followup_id => lead.id), method: :post, :class => "close", :title => "Mark as completed and remove from the list")%>	
			  				
							<%=render :partial => 'infointerviews/infointerview', :object => infointerview, :locals => {:exclude => [:salary]}%>
							<%=render :partial => 'comments/lead_comments', :locals => {:lead => infointerview, :display_for => @ambassador}%>
						</div>
					<%end%>
				</div>
				
				<%=link_to "&laquo; track your shares".html_safe, employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil)%>
			</div>
		</div>
	<% else %>
		<div class="content headline-box">
			<h1>No candidates found.</h1>
		</div>
		<div class="navigation-strip">
			<%=link_to "See what's happening with your shares", employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil)%>
		</div>
	<% end %>
</div>	

<script type="text/javascript">
	$(function(){
		$(".new_comment").validationEngine();
	});
</script>
