<div id="dashboard">
	<%= render :partial => 'layouts/flash_box' %>
	<%= render :partial => 'ambassadors/header' %>
	
	<div class="content headline-box">
		<h1>See what's happening with your shares</h1>
						
		<% stat = @ambassador.shares_statistics.first %>
		<% stat ||= {:leads_count => 0, :clicks_count => 0} %>
		
		<div class="counter">
			<% if stat[:clicks_count].to_i == 0 %>
				<div class="counter-val no-val">&hellip;</div>
			<% else %>
				<div class="counter-val"><%=stat[:clicks_count].to_i%></div>
			<% end %>
		<div class="counter-title">Clickbacks</div></div>
		
		<div class="counter">
			<% if stat[:leads_count].to_i == 0 %>
				<div class="counter-val no-val">&hellip;</div>
			<% else %>
				<div class="counter-val"><%=stat[:leads_count].to_i%></div>
			<% end %>
		<div class="counter-title">Contacts</div></div>
	</div>
	
	<%max_leads_to_show = 8%>
	<% leads = @ambassador.followups.where({ status: Followup::NEW}).limit(max_leads_to_show).order("created_at DESC") %>
	<% if leads.any? %>
		<div class="navigation-strip semitransparent">
			<%=link_to "Follow up on requests", followup_employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil)%>
			<div>
				<% (0...max_leads_to_show).each do |i| %><%#show no more than X last leads%>
					<% if leads.count >= i + 1%>
						<% infointerview = leads[i].infointerview %>
						<%tt_title = ERB::Util.html_escape( "#{infointerview.first_name} #{infointerview.last_name}")%>
						<%=link_to image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)),  :id => "lead-avatar-link-#{infointerview.id}",  class: "lead-avatar"), 
							followup_employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil, anchor: "followup-#{infointerview.id}") %>
							<script>$("#<%="lead-avatar-link-#{infointerview.id}" %>").attr('title', "<%=tt_title%>");</script>
					<% else %>
						<div class="lead-avatar"></div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<div class="invite-box content-box">
		<div class="content">
			<% if @job.nil? %>
				<h1>No open positions found for you to share.</h1>
			<% else %>
				<script  type="text/javascript">
					var networks_js = {};
					<% networks = {}
					share_channels = Constants::SHARE_CHANNELS
					share_channels << Constants::SOCIAL_NETWORK_SHARE_URL
					share_channels.each_with_index do |network, i|
						networks[network] = "#{i}.#{@ambassador.id.to_s(16)}.#{((Time.now - Constants::FYI_EPOCH) / 1.hours).to_i.to_s(16)}.#{@job.id.to_s(16)}"
					%>
						networks_js["<%=network%>"] = "<%=networks[network]%>";
					<% end %>
				</script>
			
				<h1>Share the ad and get yourself some good colleagues.</h1>
				
				<div class="position-chooser">
					<% active_jobs_ = @ambassador.employer.active_jobs %>
					<% if active_jobs_.size > 1 %>
						<% options = active_jobs_.collect {|job| ["#{job.position_name} - #{job.location_name}", job.id]} %>
						<%= label_tag(nil, "Choose position") %>&nbsp;
						<%=select 'select', 'job', options, {:include_blank => false, :selected => @job.id}, {:class => "half-row-width"}%>
					<% else %>
						<%= label_tag(nil, "Position: #{@job.position_name} - #{@job.location_name}") %>
					<% end %>
				</div>
				
				<div class="all-buttons-box">
					<%networks.each do |network, setid| %>
						<div class="share-button-box">
							
  							<% title = @job.share_title %> 
							<% description = @job.share_description  %> 
							<% short_desc = @job.share_short_description  %> 
							<%case network%>
							<%when Constants::SOCIAL_NETWORK_LINKEDIN%>
								<div class="share-button linkedin addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: setid)%>"
											addthis:title="<%=title%>"
											addthis:description="<%=description%>">
											<%# LI in fact uses title and desc as title and desc of posting%>
									<a class="addthis_button_linkedin">
										<%= image_tag "team/share/linkedin-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Constants::SOCIAL_NETWORK_FACEBOOK%>
								<div class="share-button facebook addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: setid)%>"
											addthis:title="<%=title%>"
											addthis:description="<%=description%>">		
											<%# Facebook does not use this title and desc, but rather uses meta tags%>			
									<a class="addthis_button_facebook" fb:like:href="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: setid)%>">
										<%= image_tag "team/share/facebook-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Constants::SOCIAL_NETWORK_TWITTER%>
								<div class="share-button twitter addthis_toolbox addthis_default_style addthis_32x32_style"	addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: setid)%>"
											addthis:title="<%=short_desc%>" <%#The addthis:title is the only field that allows long text; that is why we are reversing the fields here.%>
											addthis:description="<%=title%>">
											<%# Twitter in fact uses title and desc as title and desc of posting%>
									<a class="addthis_button_twitter">
										<%= image_tag "team/share/twitter-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Constants::SOCIAL_NETWORK_GOOGLE%>
								<div class="share-button google-plus addthis_toolbox addthis_default_style addthis_32x32_style"	addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: setid)%>"
											addthis:title="<%=title%>"
											addthis:description="<%=description%>">
											<%#Google does not use this title and desc, but rather uses meta tags%>	
									<a class="addthis_button_google_plusone_share">
										<%= image_tag "team/share/google-plus-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Constants::SOCIAL_NETWORK_EMAIL%>
								<div class="share-button email" title="Email">
									<%msg_txt= "#{description}\n\n#{we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: setid)}"%>
									<%=mail_to("", raw(image_tag "team/share/email-small.png", size: "82x82", alt: "Share"), subject: title, body: msg_txt, :id => "invite_team_member_btn", :target => "_fyi_email")%>
								</div>
							<%when Constants::SOCIAL_NETWORK_SHARE_URL%>
								<div class="share-button copy-to-clipboard" >
									<a id="copy-button" class="div-tooltip-holder" title="Copy to clipboard"><%# Tooltip here and not on the share button because zeroClipboard interferes with tooltip functionality. %>
										<%= image_tag "team/share/clipboard-small.png", size: "82x82", alt: "Copy to clipboard" %>
										<div class="div-tooltip" >Copied</div>	
									</a>	 		
									<script>
										 	$(document).ready(function(){
										 		var text_callback = function(){
										 			//this is a constant function
						 				 			<%msg_txt= ERB::Util.html_escape "#{description} #{we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: setid)}"%>
										 			var ret= unescapeHTML("<%= msg_txt%>");
					 						 		return ret;
										 		};
				 	 							zeroclipboard_init("#copy-button" , text_callback); 
											});
									</script>
								</div>
		 					<%end%>
						</div>
		
					<% end %>
				</div>
							
				<a href="<%=we_are_hiring_employer_path(@ambassador.employer.reference_num, job: @job.id)%>" class="preview-link" 
						onclick="return openDialogWindow(this.href, 1000, 650);">
					See your ad ...
				</a>
			
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f26afde78345d26&async=1"></script>
				<script type="text/javascript">
					function onShare(evt) {
						setTimeout( function() {
							$.post("<%=share_employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil)%>", { job_id: "<%=@job.id%>", network: evt.data.service, setid: networks_js[evt.data.service] } );
						}, 0 );
					}
					
					var addthis_share = addthis_share || {}
					var addthis_config = {
					     data_track_clickback: false 
					}
				
					$(document).ready(function() {
						addthis.init();
						addthis.addEventListener('addthis.menu.share', onShare);
					});
					
					$("#invite_team_member_btn").click(function(){
						var evt = { "data": { "service": "<%=Constants::SOCIAL_NETWORK_EMAIL%>" }};
						onShare(evt);
					});
					
					$("#select_job").change(function(evt){
						window.location.href = "<%=employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil)%>" + "?job=" + $( this ).val();
					});
				</script>				
			<% end %>
		</div>
	</div>
	
	<script type="text/javascript">
		function blinker() {
		    $('.no-val').fadeOut(300);
		    $('.no-val').fadeIn(300);
		}
		
		setInterval(blinker, 2000);	
	</script>					
</div>	
