<div id="dashboard">
	<%= render :partial => 'layouts/flash_box' %>
	<%= render :partial => 'ambassadors/header' %>
	
	<div class="content headline-box">
		<h1>See what's happening with your shares</h1>
						
		<% stat = @ambassador.shares_statistics.first %>
		<% stat ||= {:leads_count => 0, :clicks_count => 0} %>
		
		<div class="counter">
			<% if stat[:clicks_count].to_i == 0 %>
				<div class="counter-val no-val">&hellip;</div>
			<% else %>
				<div class="counter-val"><%=stat[:clicks_count].to_i%></div>
			<% end %>
		<div class="counter-title">Clicks</div></div>
		
		<div class="counter">
			<% if stat[:leads_count].to_i == 0 %>
				<div class="counter-val no-val">&hellip;</div>
			<% else %>
				<div class="counter-val"><%=stat[:leads_count].to_i%></div>
			<% end %>
		<div class="counter-title">Contacts</div></div>
	</div>
	
	<%max_leads_to_show = 8%>
	<% leads = @ambassador.followups.only_active.limit(max_leads_to_show).order("created_at DESC") %>
	<% if leads.any? %>
		<div class="navigation-strip semitransparent">
			<%=link_to "Follow up on requests", followup_employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil)%>
			<div>
				<% (0...max_leads_to_show).each do |i| %><%#show no more than X last leads%>
					<% if leads.count >= i + 1%>
						<% infointerview = leads[i].infointerview %>
						<%=link_to image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)),  :title => "#{infointerview.first_name} #{infointerview.last_name}",  class: "lead-avatar"), 
							followup_employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil, anchor: "followup-#{infointerview.id}") %>
					<% else %>
						<div class="lead-avatar"></div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<div class="invite-box content-box">
		<div class="content">
			<% if @job.nil? %>
				<h1>No open positions found for you to share.</h1>
			<% else %>
				<script  type="text/javascript">
					var networks_js = {};
					<% 
					networks = {}
					Share::DISTRIBUTION_CHANNEL_INFO.each do |network, map|
						if map[:social_share]
							networks[network] = Share.build_hash(network, @ambassador.id)
					%>
							networks_js["<%=network%>"] = "<%=networks[network]%>";
						<%end%>
					<% end %>
					
					<% networks[Share::SOCIAL_NETWORK_SHARE_URL] = networks[Share::SOCIAL_NETWORK_EMAIL] %>
					networks_js["<%=Share::SOCIAL_NETWORK_SHARE_URL%>"] = "<%=networks[Share::SOCIAL_NETWORK_EMAIL]%>";
				</script>
			
				<h1>Share the ad and get yourself some good colleagues.</h1>
				
				<div class="position-chooser">
					<% active_jobs_ = @ambassador.employer.published_jobs %>
					<% if active_jobs_.size > 1 %>
						<% options = active_jobs_.collect {|job| ["#{job.position_name} - #{job.location_name}", job.id]} %>
						<%= label_tag(nil, "Choose position") %>&nbsp;
						<%=select 'select', 'job', options, {:include_blank => false, :selected => @job.id}, {:class => "half-row-width"}%>
					<% else %>
						<%= label_tag(nil, "Position: #{@job.position_name} - #{@job.location_name}") %>
					<% end %>
				</div>
				
				<div class="all-buttons-box">
					<%networks.each do |network, share_hash| %>
						<div class="share-button-box">

							<% share_display_texts = @job.share_display_texts %>
							
							<%case network%>
							<%when Share::SOCIAL_NETWORK_LINKEDIN%>
								<div class="share-button linkedin addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, ref: share_hash).html_safe%>"
											addthis:title="<%=share_display_texts[:title]%>"
											addthis:description="<%=share_display_texts[:description]%>">
											<%# LI in fact uses title and desc as title and desc of posting%>
									<a class="addthis_button_linkedin">
										<%= image_tag "team/share/linkedin-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Share::SOCIAL_NETWORK_FACEBOOK%>
								<div class="share-button facebook addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: share_hash)%>"
											addthis:title="<%=share_display_texts[:title]%>"
											addthis:description="<%=share_display_texts[:description]%>">		
											<%# Facebook does not use this title and desc, but rather uses meta tags%>			
									<a class="addthis_button_facebook" fb:like:href="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: share_hash)%>">
										<%= image_tag "team/share/facebook-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Share::SOCIAL_NETWORK_TWITTER%>
								<div class="share-button twitter addthis_toolbox addthis_default_style addthis_32x32_style"	addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: share_hash)%>"
											addthis:title="<%=share_display_texts[:short_description]%>" <%#Note that  :short_description is used for the  addthis:title field, since this is the field where the tweet actually comes from.%>
											addthis:description="<%=share_display_texts[:title]%>"> <%#Apparently not used%>
									<a class="addthis_button_twitter">
										<%= image_tag "team/share/twitter-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Share::SOCIAL_NETWORK_GOOGLE%>
								<div class="share-button google-plus addthis_toolbox addthis_default_style addthis_32x32_style"	addthis:url="<%=we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: share_hash)%>"
											addthis:title="<%=share_display_texts[:title]%>"
											addthis:description="<%=share_display_texts[:description]%>">
											<%#Google does not use this title and desc, but rather uses meta tags%>	
									<a class="addthis_button_google_plusone_share">
										<%= image_tag "team/share/google-plus-small.png", size: "82x82", alt: "Share" %>
									</a>
								</div>
							<%when Share::SOCIAL_NETWORK_EMAIL%>
								<div class="share-button email" title="Email">
									<%msg_txt= "#{share_display_texts[:description]}\n\n#{we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: share_hash)}"%>
									<%=mail_to("", raw(image_tag "team/share/email-small.png", size: "82x82", alt: "Share"), subject: share_display_texts[:title], body: msg_txt, :id => "invite_team_member_btn", :target => "_fyi_email")%>
								</div>
							<%when Share::SOCIAL_NETWORK_SHARE_URL%>
								<div class="share-button copy-to-clipboard" >
									<a id="copy-button" class="div-tooltip-holder" title="Copy to clipboard"><%# Tooltip here and not on the share button because zeroClipboard interferes with tooltip functionality. %>
										<%= image_tag "team/share/clipboard-small.png", size: "82x82", alt: "Copy to clipboard" %>
										<div class="div-tooltip" >Copied</div>	
									</a>	 		
									<script>
								 	$(document).ready(function(){
								 		var text_callback = function(){
								 			<%# copy to clipboard is counted as email%>
								 			var evt = { "data": { "service": "<%=Share::SOCIAL_NETWORK_EMAIL%>" }};
											onShare(evt);
								 			
								 			//this is a constant function
				 				 			<%msg_txt= ERB::Util.html_escape "#{share_display_texts[:description]} #{we_are_hiring_employer_url(@ambassador.employer.reference_num, job: @job.id, anchor: share_hash)}"%>
								 			var ret= unescapeHTML("<%= msg_txt%>");
			 						 		
			 						 		return ret;
								 		};
		 	 							zeroclipboard_init("#copy-button" , text_callback); 
									});
									</script>
								</div>
		 					<%end%>
						</div>
		
					<% end %>
				</div>
							
				<a href="<%=we_are_hiring_employer_path(@ambassador.employer.reference_num, job: @job.id)%>" class="preview-link" 
						onclick="return openDialogWindow(this.href, 1000, 650);">
					See your personalized ad ...
				</a>
			
				<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f26afde78345d26&async=1"></script>
				<script type="text/javascript">
					function onShare(evt) {
						setTimeout( function() {
							$.post("<%=share_employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil)%>", { job_id: "<%=@job.id%>", network: evt.data.service, share_hash: networks_js[evt.data.service] } );
						}, 0 );
						
						trackEvent("ambassador", "shared via " + evt.data.service);
					}
					
					var addthis_share = addthis_share || {}
					var addthis_config = {
					     data_track_clickback: false 
					}
				
					$(document).ready(function() {
						addthis.init();
						addthis.addEventListener('addthis.menu.share', onShare);
					});
					
					$("#invite_team_member_btn").click(function(){
						var evt = { "data": { "service": "<%=Share::SOCIAL_NETWORK_EMAIL%>" }};
						onShare(evt);
					});
					
					$("#select_job").change(function(evt){
						<% orig_path = employer_ambassador_path(@ambassador.employer, @ambassador, :locale => nil) %>
				        <% param_char = orig_path.include?("?") ? "&" : "?" %>
						window.location.href = "<%=orig_path%>" + "<%=param_char.html_safe%>" + "job=" + $( this ).val();
					});
				</script>				
			<% end %>
		</div>
	</div>
	
	<script type="text/javascript">
		function blinker() {
		    $('.no-val').fadeOut(300);
		    $('.no-val').fadeIn(300);
		}
		
		setInterval(blinker, 2000);	
	</script>					
</div>	
