<%= form_for(@employer) do |f| %>  
	<div class="standard-section-header">Employer profile</div>
	<div class="section-box">
		<div class="form-row clearfix">
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil, "First name", :class=>"mandatory") %><br>
					<%= text_field_tag(:first_name, @employer.first_name, :spellcheck =>false, :maxlength => 60, :class=>"validate[required,custom[nonEmpty]] half-row-width input-attr", :tabindex => "10") %>
				</div>
				<div class="form-cell">
					<%= label_tag(nil, "Company name", :class=>"mandatory") %><br>
					<a class="field-tooltip" title="The name of your own organization (whether you are an employer or a recruiter)"></a>	
					<%= text_field_tag :company_name, @employer.company_name, :maxlength=> 60, :spellcheck =>false, :class=>"validate[required,custom[nonEmpty]] half-row-width input-attr", :tabindex => "30" %>
				</div>
			</div>
			
			<div class="form-column">
				<div class="form-cell">
					<%= label_tag(nil, "Last name", :class=>"mandatory") %><br>
					<%= text_field_tag(:last_name, @employer.last_name, :spellcheck =>false, :maxlength => 60, :class=>"validate[required,custom[nonEmpty]] half-row-width input-attr", :tabindex => "20") %>
				</div>
				<div class="form-cell">
					<%= label_tag(nil, raw("Email"), :class=>"mandatory") %><br>
					<a class="field-tooltip" title="You will get a confirmation email for activating your profile."></a>			
					<%= text_field_tag :email, @employer.email, :maxlength=>255, :spellcheck =>false, :class=>"validate[required, custom[email]] half-row-width input-attr", :tabindex => "40" %>
				</div>				
			</div>
		</div>
	</div>	
	
	<a name="plans-and-pricing" style="visibility: hidden"></a>
	<div class="standard-section-header">Plans and pricing</div>
	<div class="section-box">
		<div class="form-cell">	
			<table id="plans-and-pricing-table">	
				<tr class="headline">
					<th></th>
					<th class="basic"><%= EmployerPlan::BASIC%></th>
					<th class="pro"><%= EmployerPlan::PRO%></th>
				</tr>
				<tr class="odd monthly-subscription">
					<td class="feature-name">Monthly subscription</td>
					<td class="feature-value basic"><%=Utils::monthly_price_s(Constants::TIER_BASIC)%></td>
					<td class="feature-value pro"><%=Utils::monthly_price_s(Constants::TIER_PRO)%></td>
				</tr>	
 				<tr class="even">
					<td class="feature-name">Open job positions</td>
					<td class="feature-value">Unlimited</td>
					<td class="feature-value">Unlimited</td>
				</tr>
				<tr class="odd check-mark">
					<td class="feature-name">&ldquo;Come Work With Us&rdquo; ad to share</td>
					<td class="feature-value">&#10003;</td>
					<td class="feature-value">&#10003;</td>			
				</tr>						
				<tr class="even check-mark">
					<td class="feature-name">Peer-to-peer recruiting tools</td>
					<td class="feature-value">&#10003;</td>
					<td class="feature-value">&#10003;</td>				
				</tr>
				<tr class="odd">
					<td class="feature-name">Search and ping <%=Constants::SHORT_SITENAME%> members</td>
					<td class="feature-value">Unlimited</td>
					<td class="feature-value">Unlimited</td>				
				</tr>
				<tr class="even check-mark">
					<td class="feature-name">&ldquo;Join Us&rdquo; tab for your site</td>
					<td class="feature-value"></td>
					<td class="feature-value">&#10003;</td>				
				</tr>				
				<tr class="odd check-mark">
					<td class="feature-name">Dedicated customer success representative</td>
					<td class="feature-value"></td>
					<td class="feature-value">&#10003;</td>				
				</tr>
				<tr class="footer">
					<td class=""></td>
					<% 
					default_tier = -1 
					verb = "Try"
					unless @employer.current_plan.nil? 
						default_tier = @employer.current_plan.tier
						default_tier = Constants::TIER_PRO if @employer.current_plan.tier == Constants::TIER_ENTERPRISE
						verb = "Choose"
					end
					%>
		  			<%# Signature is radio_button_tag(name, value, checked , options = {})%>
					<td class="basic"><%= radio_button_tag 'tier', Constants::TIER_BASIC.to_s, default_tier == Constants::TIER_BASIC, :class => "validate[required]", :tabindex => "50" %>
						<br><%=verb%> the <%=EmployerPlan::BASIC%> plan
					</td>
					<td class="pro"><%= radio_button_tag 'tier', Constants::TIER_PRO.to_s, default_tier == Constants::TIER_PRO, :class => "validate[required]", :tabindex => "60" %>
						<br><%=verb%> the <%=EmployerPlan::PRO%> plan
					</td>
				</tr>				
			</table>
		</div>
	</div>
	
	<div class="buttons-box">
		<%if @employer.new_record? %>
			<% board = params[:board] %>
			<%if board%>
				<%= hidden_field_tag(:board, board) %>
			<%end%>	

			<%= submit_tag "Get Started", :class=>"standard-button", :id=>"submit", :name => nil, :tabindex => "80" %>
		<%else%>
			<%= submit_tag "Update", :id=>"submit", :class=>"standard-button", :name => nil, :tabindex => "80" %>
			&nbsp;&nbsp;
			<%= link_to "Cancel", employer_path(@employer), :class=>"cancel-button", :tabindex => "90" %>
		<%end%>	
	</div>			
<% end %>

<script type="text/javascript">
	function doSubmitForm() {
		var res = $("form.new_employer, form.edit_employer").validationEngine('validate');
		if (res) {
			// prevent double submit
	 		if($('#submit').attr("disabled") != "disabled") {
	 			$('#submit').focus();
				$('#submit').attr('disabled','disabled');	 			
			}
	    }
	
		return res;
	}
   
	$("form.new_employer").submit(function(){
		if(doSubmitForm()) {
			trackEvent("employer", "new profile created");
		} else {
			trackEvent("employer", "new profile failed");
			return false;
		}
		
		return true;
	});
	
	$("form.edit_employer").submit(function(){
		if(doSubmitForm()) {
			trackEvent("employer", "profile updated");
		} else {
			trackEvent("employer", "error updating profile");
			return false;
		}
		
		return true;
	});	
	
	$("tr.footer .basic, tr.footer .pro").click(function(e) {
		if(e.target == this) {
			$(this).children("input").prop('checked',true);
		}
	});
	
	//https://bugzilla.mozilla.org/show_bug.cgi?id=443289
	window.addEventListener('pageshow', PageShowHandler, false);
	window.addEventListener('unload', UnloadHandler, false);
	
	function PageShowHandler() {
		$('#submit').removeAttr('disabled');
		window.addEventListener('unload', UnloadHandler, false);
	}
	
	function UnloadHandler() {
		window.removeEventListener('unload', UnloadHandler, false);
	}
</script>
