<% active_jobs = current_user.active_jobs_with_share_statistics.order("created_at DESC").to_a %>

<% if active_jobs.empty? %>
	You have no active jobs. <%=link_to("Create a new", new_employer_job_path(current_user))%> job posting.
<% else %>
	<% active_jobs.each do |job| %>
		<%
		all_interviews = job.interviews
		recommended = all_interviews.select {|interview| interview.status_one_of?([Interview::RECOMMENDED])}	
		all_infointerviews_for_this_job = job.infointerviews.where(status: [Infointerview::NEW, Infointerview::ACTIVE_LEAD, Infointerview::CLOSED_BY_EMPLOYER])
		%>

		<% if Time.now - job.created_at < 1.hour %>
			<div class="new-tab">New!</div>
		<% end %>
		<div class="job-ad-box closable">
			<div class="above-buttons">
				<%=link_to("Close", employer_job_path(current_user, job, :locale => job.country_code), :method => :delete, :class => "close", :title => "Close position",
												:confirm => "Are you sure you want to close this job posting?")%>
				
				<%= render :partial => 'jobs/ad_with_counters', :locals => {:job => job} %>
			</div>
			
			<div class="job-control-panel clearfix">
				<div class="float-left">
					<% if recommended.blank? %>
						<%=link_to("Find candidates", employer_search_path(:locale => job.country_code, :for => job.id))%>
					<% else %>
						<%=link_to(recommended_employer_job_path(current_user, job, :locale => job.country_code), :class => "link-with-counter") do%>
							Recommended candidates<span class="counter animation-common bounce"><%=recommended.length%></span>
						<%end%>
					<% end %>
					&nbsp;
					<%=link_to(leads_employer_job_path(current_user, job, :locale => job.country_code), :class => "link-with-counter") do%>
						Review leads
						<% new_infointerviews_count = all_infointerviews_for_this_job.to_a.count { |x| x.status == Infointerview::NEW } %>
						<% if new_infointerviews_count > 0 %>
							<span class="counter animation-common bounce"><%=new_infointerviews_count%></span>
						<% end %>
					<%end%>
					&nbsp;
				</div>
				<div class="float-right">
					<%=link_to("Edit", edit_employer_job_path(current_user, job, :locale => job.country_code))%>
					<a href="<%=we_are_hiring_employer_path(current_user.reference_num, :job => job.id)%>" 
						onclick="return openDialogWindow(this.href, 1000, 650);">Preview</a>
				</div>	
			</div>			
		</div>
	<% end %>
<% end %>