<div class="content">
	<%= render :partial => 'layouts/flash_box' %>
	<p class="headline">
		Configure the &ldquo;Work With Us&rdquo; Web component  to fit the look and feel of your site. 	
	</p>
	
	<div class="white-box" id="new-job-box">
		<div id="user-home-accordion" class="fyi-accordion">
			<h3 class="accordion-header clearfix expanded">
				<span>Configure the look and feel</span>
			</h3>
			<div class="accordion-panel clearfix">
				<%= form_tag update_work_with_us_widget_config_employer_path(@employer), :id => "configure-work-with-us-widget", :remote => true do %>  
					<div class="float-left properties-col">
						<div class="clearfix user-attr-row">
							<label>Tab background color</label>
							<% tab_bg_color = @employer.join_us_widget_params_map["tab_background_color"]%>
							<label id="tab-background-picker" class="jquery-color-picker" <% unless tab_bg_color.blank? %> style="background-color: <%=tab_bg_color%>";<% end %>>&nbsp;</label>
							<%= hidden_field("config", "tab_background_color") %>
						</div>
						
						<div class="clearfix user-attr-row">
							<label>Tab text color</label>
							<% tab_text_color = @employer.join_us_widget_params_map["tab_text_color"]%>
							<label id="tab-text-color-picker" class="jquery-color-picker" 
								<% unless tab_text_color.blank? %>
									style="background-color: <%=tab_text_color%>";
								<% end %>
							>&nbsp;</label>
							<%= hidden_field("config", "tab_text_color") %>
						</div>
						
						<div class="clearfix user-attr-row">
							<label>Border color</label>
							<% tab_border_color = @employer.join_us_widget_params_map["tab_border_color"]%>
							<label id="tab-border-color-picker" class="jquery-color-picker"
								<% unless tab_border_color.blank? %>
									style="background-color: <%=tab_border_color%>";
								<% end %>							
							>&nbsp;</label>
							<%= hidden_field("config", "tab_border_color") %>
						</div>						
						
						<div class="clearfix user-attr-row">
							<label>Tab position</label>
							<% positions = [ "top-left", "top-right", "left-top", "left-middle", "left-bottom", "bottom-left", "bottom-right", "right-top", "right-middle", "right-bottom" ] %>
							<% select_val = @employer.join_us_widget_params_map["tab_position"] %>
							<% select_val ||= positions[0] %>
							<%=select "config", "tab_position", options_for_select(positions, select_val)%>
						</div>
						
						<div class="clearfix user-attr-row">
							<label>Tab label</label><%= text_field("config", "label_text", :value => @employer.join_us_widget_params_map["label_text"], :spellcheck => true, :maxlength => 60, :class=>"validate[required,custom[nonEmpty]]") %>
						</div>
						
						<%= submit_tag "Save", :id=>"submit", :class => "submit-button", :name => nil , :autocomplete=>"off"%>
					</div>
				<% end %>
				<div class="float-right preview-col">
					<div class="left-tab-container">
						<div id="tab-preview">
						</div>
					</div>
				</div>
			</div>
			<h3 class="accordion-header clearfix expanded">
				<span>Embed into your site</span>
				<div class="header-btn-box"><%= tag "input", { "type" => "button", "value" => "Preview...", "onclick" => "window.open(\"#{work_with_us_test_employer_path(@employer.reference_num, :job => nil, :locale => nil)}\"); if(event.stopPropagation){event.stopPropagation();}event.cancelBubble=true;" } %> </div>
			</h3>
			<div class="accordion-panel">
				<div class="user-attr-row full-row-counter-box">
					<%= label_tag(nil, "Paste this code snippet into your site's HTML, e.g., right before the </body> tag.") %>
					<textarea onClick="this.select();" id="code-input" class="full-row-width" rows="12" spellcheck="false" readonly="readonly"></textarea>
				</div>
			</div>
		</div>			
	</div>
</div>

<%=render :partial=>"layouts/bottom_stripe", :locals => {:include_summary => false} %>

<script type="text/javascript">
	$(function() {
		update_tab_preview();
		
		var loader_js = "<%=escape_javascript (render :partial=>'employers/work_with_us_loader.js.erb')%>";
		$("#code-input").val("<script>" + loader_js + "<\/script>");
		
	  	$('#configure-work-with-us-widget').on('ajax:success',function(data, status, xhr){
	      alert("ok");
	      //showSubmitResults ("#submit-success");
	    }).on('ajax:error',function(xhr, status, error){
	    	alert("too bad");
	      //showSubmitResults ("#submit-error");
	    });			
	});

	$('.jquery-color-picker').colpick({
		layout:'hex',
		submit:0,
		onChange:function(hsb,hex,rgb,el,bySetColor) {
			$(el).css('background-color', '#'+hex);
			update_tab_colors();
		}
	}).keyup(function(){
		$(this).colpickSetColor(this.value);
	});
	
	$("#config_label_text").blur(function() {
		update_tab_preview();
	});
	
	$("#config_tab_position").change(function() {
		update_tab_preview();
	});
	
	function update_tab_colors() {
		var tab_bg_color = $("#tab-background-picker").css('background-color');
		$("#tab-preview").css('background-color', tab_bg_color);
		$("#config_tab_background_color").val(tab_bg_color);
		
		var tab_text_color = $("#tab-text-color-picker").css('background-color');
		$("#tab-preview").css('color', tab_text_color);		
		$("#config_tab_text_color").val(tab_text_color);
		
		var tab_border_color = $("#tab-border-color-picker").css('background-color');
		$("#tab-preview").css('border-color', tab_border_color);		
		$("#config_tab_border_color").val(tab_border_color);		
	}
		
	function update_tab_preview(){
		var label_text = $("#config_label_text").val();
		if (label_text.length == 0){
			label_text = "JOIN US";
			$("#config_label_text").val(label_text);
		}
		
		$("#tab-preview").empty();
		$("#tab-preview").removeClass();
		$("#tab-preview").removeAttr('style');
		update_tab_colors();
		
		for (var i=0; i < label_text.length; i++) {
			if (label_text.charAt(i) == " ") {
				$("#tab-preview").append( "<span class='gap'>&nbsp;</span>" );
			} else {
				$("#tab-preview").append( "<span class='letter'>" + label_text.charAt(i) + "</span>" );
			}
		}
		
		var position = $("#config_tab_position").val();
		$("#tab-preview").addClass(position);
		
		if(position == "left-middle" || position == "right-middle") {
			$("#tab-preview").css("margin-top", -1 * $("#tab-preview").outerHeight(false) / 2);
		}
	}
</script>
