<script type="text/javascript">
	function load_chart(elem_id, labels, values) {
		for (var i = 0, sum = 0; i < values.length; sum += values[i++]);
		if (sum > 0) {
			var offset_map = {};
			$.each(labels, function(index, label){
				offset_map[index] = label;
			});
			
			$(elem_id).sparkline(values, {
			    type: 'bar',
			    height: '20',
			    barWidth: 8,
			    zeroAxis: false,
			    barColor: '#0999e6',
			    tooltipFormat: '{{offset:offset}}: {{value}}',
			    tooltipValueLookups: {
			        'offset': offset_map
			    }
			});
		}
	}
</script>

<% active_jobs = current_user.active_jobs_with_share_statistics.order("created_at DESC").to_a %>
<% ambassadors = current_user.active_ambassadors_with_share_statistics.to_a %>
<% basic_plan = current_user.current_plan.tier == Constants::TIER_BASIC %>

<div class="content" id="employer-dashboard">
	<%= render :partial => 'layouts/flash_box' %>

	<div class="standard-section-header"><span>Campaign</span><div class="header-buttons-box"><%=link_to("Add to website", configure_join_us_tab_employer_path(current_user, :job => nil, :locale => nil), :class => "standard-button") %></div></div>	
	<div class="section-box counters-box">
		<% share_info = current_user.shares_statistics %>
		<% shared = share_info.inject(0){|sum,x| sum + x.shares_count.to_i} %>
		<% clickbacks = share_info.inject(0){|sum,x| sum + x.clicks_count.to_i} %>
		<% leads_share = share_info.inject(0){|sum,x| sum + x.leads_count.to_i} %>
		<% leads_all = current_user.all_generated_leads_count %>
		
		<div class="counter-box">
			<div class="counter-top">
				<span><%=shared%></span>
				<div id="chart-shared" class="chart"></div>
				<% shares_map = Share::DISTRIBUTION_CHANNEL_INFO.inject({}){|r, (channel, channel_map)| channel_map[:social_share] ? r.merge!({channel => 0}) : r} # set up map with 0-values for all keys%>
				<% share_info.each{|share| shares_map[share.network] = share.shares_count.to_i if shares_map.has_key?(share.network)}  %>
				<script type="text/javascript">load_chart("#chart-shared", [<%=shares_map.keys.map{|label|"'#{Share::DISTRIBUTION_CHANNEL_INFO[label][:display_name]}'"}.join(",").html_safe%>], [<%=shares_map.values.map{|value|value}.join(",")%>]);</script>
			</div>
			<div class="counter-bottom">
				Shares
			</div>
		</div>
		<div class="counter-box">
			<div class="counter-top">
				<span><%=clickbacks%></span>
				<div id="chart-clickback" class="chart"></div>
				<% clicks_map = Share::DISTRIBUTION_CHANNEL_INFO.inject({}){|r, (channel, channel_map)|r.merge!({channel => 0})}  # set up map with 0-values for all keys %>
				<% share_info.each{|share| clicks_map[share.network] = share.clicks_count.to_i} %>
				<script type="text/javascript">load_chart("#chart-clickback", [<%=clicks_map.keys.map{|label|"'#{Share::DISTRIBUTION_CHANNEL_INFO[label][:display_name]}'"}.join(",").html_safe%>], [<%=clicks_map.values.map{|value|value}.join(",")%>]);</script>
			</div>
			<div class="counter-bottom">  
				Impressions
			</div>
		</div>
		<div class="counter-box">
			<div class="counter-top">
				<% if current_user.enable_ping %>
					<span><%=leads_all%></span>
					<div id="chart-leads" class="chart"></div>
					<% leads_map = Share::DISTRIBUTION_CHANNEL_INFO.inject({}){|r, (channel, channel_map)|r.merge!({channel => 0})}   # set up map with 0-values for all keys %> 
					
					<% share_info.each{|share| leads_map[share.network] = share.leads_count.to_i} %>
	 
	 				<script type="text/javascript">load_chart("#chart-leads", [<%=leads_map.keys.map{|label|"'#{Share::DISTRIBUTION_CHANNEL_INFO[label][:display_name]}'"}.join(",").html_safe%>], [<%=leads_map.values.map{|value|value}.join(",")%>]);</script>
				<% else %>
					<span>...</span>
				<% end %>
			</div>
			<div class="counter-bottom">
				Leads
			</div>				
		</div>
		
		<div class="status-messages-box">
			<ul>
				<% if active_jobs.empty? %>
					<li class="warning">
						<%=link_to("Add", new_employer_job_path(current_user))%> a job posting.
					</li>
				<% else %>
					<% if ambassadors.blank? %>
						<li class="warning">
							No team members yet. <%=link_to("Add yourself", ambassadors_signin_path(current_user.reference_num, :locale => nil), :target => "_blank") %> or 
							<%=link_to("invite", "#", :class => "invite-team-member-link") %> team members via email.
						</li>
					<% else %>
						<% unless current_user.join_us_widget_running? %>
							<li class="warning">
								<%=link_to("Add", configure_join_us_tab_employer_path(current_user, :job => nil, :locale => nil)) %> 
								the &ldquo;Join Us&rdquo; tab to your site.  
							</li>
						<% end %>
						<li class="warning">
							You can advertise on professional sites: <%=uservoice_contact_link("Contact us")%> for more details.
						</li>
					<% end %>
				<% end %>
				<% unless current_user.enable_ping %>
					<li class="warning">
						<%=link_to("Enable", settings_employer_path(current_user))%> the Ping feature to activate the Leads counters. 
					</li>
				<% end %>
				
				<% if basic_plan %>
		 			<% if current_user.join_us_widget_running? %>
		 				<li class="warning">
		 					You are using the &ldquo;Join Us&rdquo; tab, a <%=EmployerPlan::PRO%> feature.
							Please <%=link_to("upgrade", edit_employer_path(current_user,:anchor=>"plans-and-pricing"))%>
							your account.
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		
		<% if current_user.enable_ping %>
			<%max_leads_to_show = 7%>
			<div class="new-leads-box">
				<span>New leads</span>
				<div class="leads-list">
					<% infointerviews = current_user.not_seen_yet_leads.to_a %>
					<% (0...max_leads_to_show).each do |i| %><%#show no more than X last leads%>
						<% if infointerviews.count >= i + 1%>
							<% infointerview = infointerviews[i] %>
							<%=link_to image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)),  :title => "#{infointerview.first_name} #{infointerview.last_name}",  class: "lead-avatar"), 
								leads_employer_job_path(current_user, infointerview.job, :locale => infointerview.job.country_code, anchor: "lead-#{infointerview.id}") %>
						<% else %>
							<%=image_tag(asset_path("shared/no-avatar-semi-transparent-56x56.png"), class: "lead-placeholder")%>
						<% end %>
					<% end %>
					<% if infointerviews.count > max_leads_to_show %>
						<div class="plus-x"><em>+<%=infointerviews.count - max_leads_to_show%><br>more</em></div>
					<% end %>
				</div>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="leads-with-unseen-comments-box">
				<span>New comments</span>
				<div class="leads-list">
					<% infointerviews = current_user.leads_with_unseen_comments.to_a %>
					<% (0...max_leads_to_show).each do |i| %><%#show no more than X last leads%>
						<% if infointerviews.count >= i + 1%>
							<% infointerview = infointerviews[i] %>
							<%=link_to image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)),  :title => "#{infointerview.first_name} #{infointerview.last_name}",  class: "lead-avatar"), 
								leads_employer_job_path(current_user, infointerview.job, :locale => infointerview.job.country_code, anchor: "lead-#{infointerview.id}") %>
						<% else %>
							<%=image_tag(asset_path("shared/no-avatar-semi-transparent-56x56.png"), class: "lead-placeholder")%>
						<% end %>
					<% end %>	
					<% if infointerviews.count > max_leads_to_show %>
						<div class="plus-x"><em>+<%=infointerviews.count - max_leads_to_show%><br>more</em></div>
					<% end %>
				</div>
			</div>			
		<% end %>
	</div>
	
	<div class="standard-section-header"><span>Job postings</span><div class="header-buttons-box"><%=link_to("Add new", new_employer_job_path(current_user), :class => "standard-button")%></div></div>	
	<div class="section-box jobs-box">
		<%=render :partial => 'employer_jobs' %>
	</div>
	
	<a id="team"></a>
	<div class="standard-section-header">
		<span>Your team</span>
		<div class="header-buttons-box">
			<%=link_to("Go to sign-up page", ambassadors_signin_path(current_user.reference_num, :locale => nil), :target => "_blank", :class => "standard-button")%>
			&nbsp;
			<%=link_to("Invite a team member", "#", :class => "invite-team-member-link standard-button")%> 
		</div>
	</div>
	
	<div id="invite-team-member-dialog" title="Invite a team member" class="employer-dialog">
		<%= form_tag invite_team_member_employer_path(current_user), :remote => true, :id => 'invite-team-member-form' do %>
			<div class="form-row">
				<div class="form-cell">
					Send an email to some team members inviting them to join the ambassador team.
				</div>
			</div>		
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Subject", :class=>"mandatory") %><br>
					<%= text_field_tag(:invitation_subject, current_user.team_invitation_template[:subject], :spellcheck => true, :class => "validate[required,custom[nonEmpty]]") %>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil,  "Body", :class=>"mandatory") %><br>
					<div class="compound-input-box inactive" style="width: 654px;">
						<%= text_field_tag(:invitation_salutation, current_user.team_invitation_template[:salutation], :spellcheck => true, :style => "width: 50px;")%>
						<%= text_field_tag(:invitation_recipient_name, "", :maxlength => 25, :spellcheck => false, :placeholder => "John", :class => "input-field", :style => "width: 180px;") %>&nbsp;&nbsp;<span>,</span>
						<%= text_area_tag(:invitation_body, current_user.team_invitation_template[:body].gsub("[team-page-url]", ambassadors_signin_url(current_user.reference_num, :locale => nil)), :spellcheck => true, :class => "validate[required,custom[nonEmpty]]", :style => "height: 200px;")%><br>
					</div>
					<%= check_box_tag "save-as-template", '1', false%>&nbsp;<%= label_tag("save-as-template", "Save as a template for future invitations") %>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Recipient email address or a list of comma-separated addresses", :class=>"mandatory") %><br>
					<%= text_field_tag(:invitation_recipient_email, "", :spellcheck => false, :placeholder => "abc@example.com, xyz@example.com", :class => "validate[required,funcCall[validateMultipleEmails]]") %>
				</div>
			</div>		
			
			<div class="form-row">
				<div class="form-cell">
					<%= submit_tag "Send", :id => "send-via-rightjoin", :class=>"standard-button" %>&nbsp;&nbsp;&nbsp;
					<div title="Sending..." class="loading-icon" id="sending-invitation-icon"></div>
					&nbsp;&nbsp;&nbsp;&nbsp;<span id="invitation-sending-msg"></span>
				</div>
			</div>
		<% end %>
	</div>
	
	<div id="send-reminder-dialog" title="Send a reminder" class="employer-dialog">
		<%= form_tag remind_employer_ambassadors_path(current_user), :id => 'reminder-form' do %>
			<%= hidden_field_tag(:ambassador_id) %>
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Subject", :class=>"mandatory") %><br>
					<%= text_field_tag(:reminder_subject, current_user.reminder[:subject], :maxlength => 250, :spellcheck => true, :class => "validate[required,custom[nonEmpty]]") %>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell inline">
					<%= label_tag(nil,  "Body", :class=>"mandatory") %><br>
					<%= text_area_tag(:reminder_body, "", :spellcheck => true, :maxlength => 600, :class => "validate[required,custom[nonEmpty]]")%>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= submit_tag "Send", :id => "send-reminder-button", :class=>"standard-button" %>
					<div title="Sending..." class="loading-icon" id="reminder-sending-icon"></div>
				</div>
			</div>
		<%end%>
	</div>
	
	<div id="configure-reminder-dialog" title="Configure reminder" class="employer-dialog">
		<%= form_tag configure_reminder_employer_path(current_user), :id => 'configure-reminder-form' do %>
			<div class="form-row">
				<div class="form-cell">
					Sending reminders periodically makes an effective campaign. Configure the reminder period, as well as the email template used for reminders.
				</div>
			</div>				
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Reminder period", :class=>"mandatory") %><br>
					<% reminder_period_options = {"Don't send automatic reminders" => 0, "Once a week" => 7, "Every two weeks" => 14, "Once a month" => 30} %>
					<%=select_tag :reminder_period, options_for_select(reminder_period_options, current_user.reminder[:period]), { :class => 'standard-select' }%>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Subject", :class=>"mandatory") %><br>
					<%= text_field_tag(:reminder_template_subject, current_user.reminder[:subject], :maxlength => 250, :spellcheck => true, :class => "validate[required,custom[nonEmpty]]") %>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell inline">
					<%= label_tag(nil,  "Body", :class=>"mandatory") %><br>
					<a class="field-tooltip" title="All instances of [first-name] and [team-page-url] in the email will automatically be replaced with the actual values."></a>
					<%= text_area_tag(:reminder_template_body, current_user.reminder[:body], :spellcheck => true, :maxlength => 600, :class => "validate[required,custom[nonEmpty]]")%><br>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= submit_tag "Save", :id => "configure-reminder-button", :class=>"standard-button" %>
					<div title="Saving..." class="loading-icon" id="configure-reminder-sending-icon"></div>
				</div>
			</div>
		<%end%>
	</div>	
	
	<div class="section-box team-box clearfix">
		<% if ambassadors.blank? %>
			Nobody here yet. Send an invitation to team members, above. 
		<% else %>
			<% ambassadors.each_with_index do |ambassador, i| %>
				<div class="ambassador-admin-box closable">
					<%=link_to "Deactivate", employer_ambassador_path(ambassador.employer, ambassador, :locale => nil), :method => :delete, :class => "close", :title => "Deactive team member profile", :confirm => "Are you sure you want to deactivate this team member profile?"%>
					<%= render :partial => 'ambassadors/ambassador', object: ambassador %>
					<div class="ambassador-counters-box">
						<div>Shares: <span class="counter-value"><%=ambassador.shares_counter.to_i%></span></div>
						<div>Impressions: <span class="counter-value"><%=ambassador.clickback_counter.to_i%></span></div>
						<div>Leads: <span class="counter-value"><%=current_user.enable_ping ? ambassador.leads_counter.to_i : "..."%></span></div>
					</div>
					<div class="ambassador-controls-box">
						<% 
						remind_every_days = 10
						if ambassador.should_remind(remind_every_days)
							due_class = "with-alert-sign"
							title_str = "The last reminder was sent more than #{remind_every_days} days ago."
						end
						%>
						
						<%=link_to "Send reminder", "#", :class => "send-reminder-link #{due_class}", :title => title_str, :data => {:ambassador_id => ambassador.id, :ambassador_first_name => ambassador.first_name}%>
					</div>
				</div>
			<% end %>
			
			<% 
			reminder_link_class = current_user.reminder[:period] == 0 ? "off" : "on" 
			reminder_link_title = current_user.reminder[:period] == 0 ? "Set a reminder" : "Reminder is set" 
			%>
			<%=link_to("Configure reminders", "#", :class => "configure-reminder-link #{reminder_link_class}", :title => "#{reminder_link_title}")%>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	function validateMultipleEmails(field, rules, i, options){
		var errorMsg = "* Invalid email address or list of addresses";
		
		var emailsVal = field.val().replace(/,(\s+)?$/, '').trim();
		if (emailsVal == ""){
			return errorMsg;
		}
		
		var emails = emailsVal.split(',');
		var pattern = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i;

		for(i = 0; i < emails.length; i++) {
		  if(!emails[i].trim().match(pattern)){
		    return errorMsg;
		  }
		}
	}

	$("#configure-reminder-dialog").dialog({
	  autoOpen: false,
	  width: 750,
	  height: 610,
	  resizable: false,
	  modal: true
	});

	$(".configure-reminder-link").click(function(){
		$("#configure-reminder-dialog").dialog( "open" );
		return false;
	});
	
	$("#configure-reminder-form").validationEngine();
	$("#configure-reminder-form").submit(function( event ) {
	  $("#configure-reminder-button").prop("disabled", true);
	  $("#configure-reminder-sending-icon").css("visibility", "visible");
	});

	$("#invite-team-member-form").submit(function(){
		$("#invitation-sending-msg").html("");
		
	 	var is_valid = $(this).validationEngine('validate');
	 	if (is_valid){
			$("#send-via-rightjoin").prop('disabled', true);
			$("#sending-invitation-icon").css("visibility", "visible");
		}
		return is_valid;
	});	
	
	$("#invitation_recipient_email").bind("keyup change", function( event ) {
	  if ($(this).val().indexOf(",") > -1) {
	    $("#invitation_recipient_name").hide();
	  } else {
	  	$("#invitation_recipient_name").show();
	  }
	});
	
	$('#invite-team-member-form').on('ajax:success',function(data, status, xhr){
		$("#invitation_recipient_name").val("");
		$("#invitation_recipient_email").val("");
		
		$("#send-via-rightjoin").prop('disabled', false);
		$("#sending-invitation-icon").css("visibility", "hidden");    	
		
		$("#save-as-template").prop('checked', false);
		
		$("#invitation_recipient_name").show();
		$("#invitation_recipient_name").focus();

    	fadeInMessage($("#invitation-sending-msg"), "<span class='success'>The invitation has been sent. Anyone else to invite?</span>");
    }).on('ajax:error',function(xhr, status, error){
		$("#send-via-rightjoin").prop('disabled', false);
		$("#sending-invitation-icon").css("visibility", "hidden");

		fadeInMessage($("#invitation-sending-msg"), "<span class='error'><%=Constants::ERROR_FLASH%></span>");
    });
	
	$("#invite-team-member-dialog").dialog({
	  autoOpen: false,
	  width: 750,
	  height: 640,
	  resizable: false,
	  modal: true
	});

	$(".invite-team-member-link").click(function(){
		$("#invitation-sending-msg").html("");
		$("#invite-team-member-dialog").dialog( "open" );
		return false;
	});
	
	$("#reminder-form").validationEngine();
	
	$("#send-reminder-dialog").dialog({
	  autoOpen: false,
	  width: 750,
	  height: 470,
	  resizable: false,
	  modal: true
	});
	
	$("#reminder-form").submit(function( event ) {
	  $("#send-reminder-button").prop("disabled", true);
	  $("#reminder-sending-icon").css("visibility", "visible");
	});

	$(".send-reminder-link").click(function(){
		$("#ambassador_id").val($(this).data("ambassador-id"));
		var body = "<%=escape_javascript current_user.reminder[:body]%>";
		body = body.replace("[first-name]", escapeHTML($(this).data("ambassador-first-name")));
		body = body.replace("[team-page-url]", "<%=ambassadors_signin_url(current_user.reference_num, :locale => nil)%>");
		$("#reminder_body").html(body);
		$("#send-reminder-dialog").dialog('option', 'title', "Send a reminder to " + escapeHTML($(this).data("ambassador-first-name")));
		$("#send-reminder-dialog").dialog("open");
		return false;
	});
</script>

<%=render :partial => 'sessions/verification_form'%>
