<script type="text/javascript">
	function load_chart(elem_id, labels, values) {
		for (var i = 0, sum = 0; i < values.length; sum += values[i++]);
		if (sum > 0) {
			var offset_map = {};
			$.each(labels, function(index, label){
				offset_map[index] = label;
			});
			
			$(elem_id).sparkline(values, {
			    type: 'bar',
			    height: '20',
			    barWidth: 8,
			    zeroAxis: false,
			    barColor: '#0999e6',
			    tooltipFormat: '{{offset:offset}}: {{value}}',
			    tooltipValueLookups: {
			        'offset': offset_map
			    }
			});
		}
	}
</script>

<% active_jobs = current_user.active_jobs_with_share_statistics.order("created_at DESC").to_a %>
<% ambassadors = current_user.active_ambassadors_with_share_statistics.to_a %>

<div class="content" id="employer-dashboard">
	<%= render :partial => 'layouts/flash_box' %>

	<div class="standard-section-header"><span>Campaign</span><div class="header-buttons-box"><%=link_to("Add to website", configure_join_us_tab_employer_path(current_user, :job => nil, :locale => nil), :class => "standard-button") %></div></div>	
	<div class="section-box counters-box">
		<% share_info = current_user.shares_statistics %>
		<% shared = share_info.inject(0){|sum,x| sum + x.shares_count.to_i} %>
		<% clickbacks = share_info.inject(0){|sum,x| sum + x.clicks_count.to_i} %>
		<% leads_share = share_info.inject(0){|sum,x| sum + x.leads_count.to_i} %>
		<% leads_all = current_user.all_generated_leads_count %>
		
		<div class="counter-box">
			<div class="counter-top">
				<span><%=shared%></span>
				<div id="chart-shared" class="chart"></div>
				<% shares_map = Constants::SHARE_CHANNELS.inject({}){|r, channel|r.merge!({channel => 0})} # set up map with 0-values for all keys%>
				<% share_info.each{|share| shares_map[share.network] = share.shares_count.to_i}  %>
				<script type="text/javascript">load_chart("#chart-shared", [<%=shares_map.keys.map{|label|"'#{Constants::SHARE_CHANNEL_DISPLAY_NAMES[label]}'"}.join(",").html_safe%>], [<%=shares_map.values.map{|value|value}.join(",")%>]);</script>
			</div>
			<div class="counter-bottom">
				Shares
			</div>
		</div>
		<div class="counter-box">
			<div class="counter-top">
				<span><%=clickbacks%></span>
				<div id="chart-clickback" class="chart"></div>
				<% clicks_map = Constants::SHARE_CHANNELS.inject({}){|r, channel|r.merge!({channel => 0})}  # set up map with 0-values for all keys %>
				<% share_info.each{|share| clicks_map[share.network] = share.clicks_count.to_i} %>
				<script type="text/javascript">load_chart("#chart-clickback", [<%=clicks_map.keys.map{|label|"'#{Constants::SHARE_CHANNEL_DISPLAY_NAMES[label]}'"}.join(",").html_safe%>], [<%=clicks_map.values.map{|value|value}.join(",")%>]);</script>
			</div>
			<div class="counter-bottom">  
				Clicks
			</div>
		</div>
		<div class="counter-box">
			<div class="counter-top">
				<span><%=leads_all%></span>
				<div id="chart-leads" class="chart"></div>
				<% leads_map = Constants::SHARE_CHANNELS.inject({}){|r, channel|r.merge!({channel => 0})}   # set up map with 0-values for all keys
				   leads_map.merge!({Constants::SOCIAL_NETWORK_OTHER => leads_all - leads_share})  # add 'other to include all shares not otherwise idenntified
				%> 
				
				<% share_info.each{|share| leads_map[share.network] = share.leads_count.to_i} %>
 
 				<script type="text/javascript">load_chart("#chart-leads", [<%=leads_map.keys.map{|label|"'#{Constants::SHARE_CHANNEL_DISPLAY_NAMES[label]}'"}.join(",").html_safe%>], [<%=leads_map.values.map{|value|value}.join(",")%>]);</script>
			</div>
			<div class="counter-bottom">
				Leads
			</div>				
		</div>
		
		<div class="status-messages-box">
			<ul>
				<% if active_jobs.empty? %>
					<li class="warning">
						<%=link_to("Add", new_employer_job_path(current_user))%> a job posting.
					</li>
				<% else %>
					<% if ambassadors.blank? %>
						<li class="warning">
							No team members yet. <%=link_to("Add yourself", ambassadors_signin_path(current_user.reference_num, :locale => nil), :target => "_blank") %> or 
							<%=link_to("invite", "#", :class => "invite-team-member-link") %> team members via email.
						</li>
					<% else %>
						<% unless current_user.join_us_widget_running? %>
							<li class="warning">
								<%=link_to("Enable", configure_join_us_tab_employer_path(current_user, :job => nil, :locale => nil)) %> 
								the &ldquo;Join Us&rdquo; tab for your site. <%#TODO Review page%>
							</li>
						<% end %>
						<li class="warning">
							You can advertise on professional sites: <%=uservoice_contact_link("Contact us")%> for more details.
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		
		<div class="recent-leads-box">
			<span>Active leads</span>
			<div class="leads-list">
				<%max_leads_to_show = 16%>
				<% infointerviews = current_user.last_active_leads(max_leads_to_show) %>
				<% (0...max_leads_to_show).each do |i| %><%#show no more than X last leads%>
					<% if infointerviews.count >= i + 1%>
						<% infointerview = infointerviews[i] %>
						<%=link_to image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)),  :title => h("#{infointerview.first_name} #{infointerview.last_name}").to_str,  class: "with-tooltip lead-avatar"), 
							leads_employer_job_path(current_user, infointerview.job, :locale => infointerview.job.country_code, anchor: "lead-#{infointerview.id}") %>
					<% else %>
						<%=image_tag(asset_path("shared/no-avatar-semi-transparent-56x56.png"), class: "lead-placeholder")%>
					<% end %>
				<% end %>	
			</div>
		</div>
	</div>
	
	<div class="standard-section-header"><span>Job postings</span><div class="header-buttons-box"><%=link_to("Add new", new_employer_job_path(current_user), :class => "standard-button")%></div></div>	
	<div class="section-box jobs-box">
		<%=render :partial => 'employer_jobs' %>
	</div>
	
	<a id="team"></a>
	<div class="standard-section-header">
		<span>Your team</span>
		<div class="header-buttons-box">
			<%=link_to("Go to sign-up page", ambassadors_signin_path(current_user.reference_num, :locale => nil), :target => "_blank", :class => "standard-button")%>
			&nbsp;
			<%=link_to("Invite a team member", "#", :class => "invite-team-member-link standard-button")%> 
		</div>
	</div>
	
	<div id="invite-team-member-dialog" title="Invite a team member" class="employer-dialog">
		<% 	  
		subject = "Talking with potential future colleagues"
		body_text = "Hi,\n\n" <<
			"We're looking for some smart developers to work with us at #{current_user.company_name}.\n\n" <<
			"#{Constants::SHORT_SITENAME} gives us a beautiful ad in which our current developers are the highlight. " << 
			"It has social sharing tools to help you spread it.\n\n" << 
			"Experienced developers then ping us through this ad. We may connect a few developers with you for a chat about working here.\n\n" <<
			"Please sign in at #{ambassadors_signin_url(current_user.reference_num, :locale => nil)}\n\n" <<
			"Regards,\n\n" <<
			"#{current_user.first_name}"
		%>		
		<div class="form-row">
			<div class="form-cell">
				Copy the  text below into an email. 
				You can then modify it to suit your company culture and the people you're sending it to. 
			</div>
		</div>		
		<div class="form-row">
			<div class="form-cell">
				<%= label_tag(nil, "Subject") %><br>
				<%= text_field_tag(:subject, subject, :spellcheck => true) %>
			</div>
		</div>
		<div class="form-row">
			<div class="form-cell">
				<%= label_tag(nil,  "Body") %><br>
				<%= text_area_tag(:body, body_text, :spellcheck => true)%>
			</div>
		</div>
		<div class="form-row">
			<div class="form-cell">
				<%= submit_tag "Open in email client...", :id => "launch-email-client-button", :class=>"launch-email-client standard-button" %>
			</div>
		</div>
	</div>
	
	<div id="send-reminder-dialog" title="Send a reminder" class="employer-dialog">
		<%= form_tag remind_employer_ambassadors_path(current_user), :id => 'reminder-form' do %>
			<%= hidden_field_tag(:ambassador_id) %>
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Subject", :class=>"mandatory") %><br>
					<%= text_field_tag(:reminder_subject, current_user.reminder[:subject], :maxlength => 250, :spellcheck => true, :class => "validate[required,custom[nonEmpty]]") %>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell inline">
					<%= label_tag(nil,  "Body", :class=>"mandatory") %><br>
					<%= text_area_tag(:reminder_body, "", :spellcheck => true, :maxlength => 600, :class => "validate[required,custom[nonEmpty]]")%>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= submit_tag "Send", :id => "send-reminder-button", :class=>"standard-button" %>
					<div title="Sending..." class="loading-icon" id="reminder-sending-icon"></div>
				</div>
			</div>
		<%end%>
	</div>
	
	<div id="configure-reminder-dialog" title="Configure reminder" class="employer-dialog">
		<%= form_tag configure_reminder_employer_path(current_user), :id => 'configure-reminder-form' do %>
			<div class="form-row">
				<div class="form-cell">
					Sending reminders periodically makes an effective campaign. Configure the reminder period, as well as the email template used for reminders.
				</div>
			</div>				
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Reminder period", :class=>"mandatory") %><br>
					<% reminder_period_options = {"Don't send automatic reminders" => 0, "Once a week" => 7, "Every two weeks" => 14, "Once a month" => 30} %>
					<%=select_tag :reminder_period, options_for_select(reminder_period_options, current_user.reminder[:period]), { :class => 'standard-select' }%>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= label_tag(nil, "Subject", :class=>"mandatory") %><br>
					<%= text_field_tag(:reminder_template_subject, current_user.reminder[:subject], :maxlength => 250, :spellcheck => true, :class => "validate[required,custom[nonEmpty]]") %>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell inline">
					<%= label_tag(nil,  "Body", :class=>"mandatory") %><br>
					<a class="field-tooltip" title="All instances of [first-name] and [team-page-url] in the email will automatically be replaced with the actual values."></a>
					<%= text_area_tag(:reminder_template_body, current_user.reminder[:body], :spellcheck => true, :maxlength => 600, :class => "validate[required,custom[nonEmpty]]")%><br>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<%= submit_tag "Save", :id => "configure-reminder-button", :class=>"standard-button" %>
					<div title="Saving..." class="with-tooltip loading-icon" id="configure-reminder-sending-icon"></div>
				</div>
			</div>
		<%end%>
	</div>	
	
	<div class="section-box team-box clearfix">
		<% if ambassadors.blank? %>
			Nobody here yet. Send an invitation to team members, above. 
		<% else %>
			<% ambassadors.each_with_index do |ambassador, i| %>
				<div class="ambassador-admin-box closable">
					<%=link_to "Deactivate", employer_ambassador_path(ambassador.employer, ambassador, :locale => nil), :method => :delete, :class => "close with-tooltip", :title => "Deactive team member profile", :confirm => "Are you sure you want to deactivate this team member profile?"%>
					<%= render :partial => 'ambassadors/ambassador', object: ambassador %>
					<div class="ambassador-counters-box">
						<div>Shares: <span class="counter-value"><%=ambassador.shares_counter.to_i%></span></div>
						<div>Clicks: <span class="counter-value"><%=ambassador.clickback_counter.to_i%></span></div>
						<div>Leads: <span class="counter-value"><%=ambassador.leads_counter.to_i%></span></div>
					</div>
					<div class="ambassador-controls-box">
						<% 
						remind_every_days = 10
						if ambassador.should_remind(remind_every_days)
							due_class = "due"
							title_str = "The last reminder was sent more than #{remind_every_days} days ago."
						end
						%>
						
						<%=link_to "Send reminder", "#", :class => "with-tooltip send-reminder-link #{due_class}", :title => title_str, :data => {:ambassador_id => ambassador.id, :ambassador_first_name => escape_javascript(ambassador.first_name)}%>
					</div>
				</div>
			<% end %>
			
			<% 
			reminder_link_class = current_user.reminder[:period] == 0 ? "off" : "on" 
			reminder_link_title = current_user.reminder[:period] == 0 ? "Set a reminder" : "Reminder is set" 
			%>
			<%=link_to("Configure reminders", "#", :class => "with-tooltip configure-reminder-link #{reminder_link_class}", :title => "#{reminder_link_title}")%>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$("#configure-reminder-dialog").dialog({
	  autoOpen: false,
	  width: 750,
	  height: 610,
	  resizable: false,
	  modal: true
	});

	$(".configure-reminder-link").click(function(){
		$("#configure-reminder-dialog").dialog( "open" );
		return false;
	});
	
	$("#configure-reminder-form").validationEngine();
	$("#configure-reminder-form").submit(function( event ) {
	  $("#configure-reminder-button").prop("disabled", true);
	  $("#configure-reminder-sending-icon").css("visibility", "visible");
	});

	$("#invite-team-member-dialog").dialog({
	  autoOpen: false,
	  width: 750,
	  height: 580,
	  resizable: false,
	  modal: true
	});

	$(".invite-team-member-link").click(function(){
		$("#invite-team-member-dialog").dialog( "open" );
		return false;
	});
	
	$(".launch-email-client").click(function(e){
		launchMailTo("[recipient]", $("#subject").val(), $("#body").html());
		e.stopPropagation();
        e.preventDefault();
        event.cancelBubble = true;
		return false;
	});
	
	$("#reminder-form").validationEngine();
	
	$("#send-reminder-dialog").dialog({
	  autoOpen: false,
	  width: 750,
	  height: 470,
	  resizable: false,
	  modal: true
	});
	
	$("#reminder-form").submit(function( event ) {
	  $("#send-reminder-button").prop("disabled", true);
	  $("#reminder-sending-icon").css("visibility", "visible");
	});

	$(".send-reminder-link").click(function(){
		$("#ambassador_id").val($(this).data("ambassador-id"));
		var body = "<%=escape_javascript current_user.reminder[:body]%>";
		body = body.replace("[first-name]", $(this).data("ambassador-first-name"));
		body = body.replace("[team-page-url]", "<%=ambassadors_signin_url(current_user.reference_num, :locale => nil)%>");
		$("#reminder_body").html(body);
		$("#send-reminder-dialog").dialog('option', 'title', "Send a reminder to " + $(this).data("ambassador-first-name"));
		$("#send-reminder-dialog").dialog("open");
		return false;
	});
	
	$(".launch-email-client").click(function(e){
		launchMailTo("[recipient]", $("#subject").val(), $("#body").html());
		e.stopPropagation();
        e.preventDefault();
        event.cancelBubble = true;
		return false;
	});	
</script>

<%=render :partial => 'sessions/verification_form'%>
