<div id="images-index">
	<% if @photos.empty? %>
		<p>No photos were added yet.</p>
	<% else %>
		<div class="images-list clearfix">
		    <% @photos.each do |photo| %>
		   		 <div class="image-box float-left" data-image-url="<%=photo.image.standard.url%>" data-image-title="<%=photo.title%>" data-image-id="<%=photo.id%>">
				     <%= image_tag(photo.image.standard.url) %>
				     <% unless photo.title.blank? %>
				     	<div class="photo-title"><%= photo.title %></div>
				     <% end %>
			     </div>
		  	<% end %>
	  	</div>
  	<% end %>
</div>
