<% require 'rinku' %>

<% 
unless defined?(exclude)
	exclude = []
end
%>

<div id="infointerview-<%=infointerview.id%>" class="infointerview-box">
	<div class="infointerview-inner-box">
		<%= image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)), class: "avatar-img") %>
		
		<div class="basic-info">
			<div class="candidate-name"><%=infointerview.first_name%> <%=infointerview.last_name%></div>
			<div><%=Rinku.auto_link(CGI::escapeHTML(infointerview.email), :all, 'target="_blank"').html_safe%></div>
			
			<%if infointerview.user.nil?%>
				<%profiles = infointerview.profiles || ""%>
			<%else%>
				<%profiles = infointerview.user.resume || ""%>
			<%end%>
			
			<% unless profiles.blank? %>
				<div>
					<%=Rinku.auto_link(CGI::escapeHTML(profiles), :all, 'target="_blank"').html_safe%>
				</div>
			<% end %>
			
			<% unless infointerview.resume_doc_id.nil? %>
				<div>
					<%=link_to "See resum&eacute;...".html_safe	, cloudinary_url(infointerview.resume_doc_id, :resource_type => :raw, :secure => true), :target => "_blank"%>
				</div>
			<% end %>
		</div>
		
		<%unless infointerview.user.nil?%>
			<%=render :partial => 'users/user_details', :object => infointerview.user, :locals => {:for_view=> :searcher, :exclude => exclude }%>
		<%end%>
	</div>
</div>
