<% require 'rinku' %>

<div id="infointerview-<%=infointerview.id%>" class="infointerview-box">
	<div class="infointerview-inner-box">
		<%= image_tag(lead_avatar_path(infointerview.reference_num, :timestamp => infointerview.updated_at.to_i.to_s(16)), class: "avatar-img") %>
		
		<div class="basic-info">
			<div class="candidate-name"><%=infointerview.first_name%> <%=infointerview.last_name%></div>
			<div class=""><%=Rinku.auto_link(CGI::escapeHTML(infointerview.email), :all, 'target="_blank"').html_safe%></div>
			
			<%if infointerview.user.nil?%>
				<%profiles = infointerview.profiles || ""%>
			<%else%>
				<%profiles = infointerview.user.resume || ""%>
			<%end%>
			<div class="">
				<%=Rinku.auto_link(CGI::escapeHTML(profiles), :all, 'target="_blank"').html_safe%>
			</div>
		</div>
		
		<%unless infointerview.user.nil?%>
			<%=render :partial => 'users/user_details', :object => infointerview.user, :locals => {:for_view=> :searcher}%>
		<%end%>
	</div>
</div>
