$("#send-message-box-<%=params[:id]%>").find(".wait-indicator").css("visibility", "hidden");
$("#send-message-box-<%=params[:id]%>").find(".send-msg-btn").attr('disabled', false);
$("#send-message-box-<%=params[:id]%>").find(".no-msg-btn").attr('disabled', false);
$("#send-message-box-<%=params[:id]%>").find(".ajax-error-message").html("<div class='send-error'><%=@message%></div>");
