<div class="horz-stripe bottom-content-box">
	<div class="inner blog-inner-box">	
		<% if include_summary %>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#rotation-holder').cycle({
												fx: 'fade',
												speed: 700,
												timeout: 2000,
												delay: -3000,/*start first slide immediately*/
												startingSlide: 0
											});
				
				});
			</script>
			
			<div class="blog-title-bg"></div>
			<h1 class="summary-title">What's happening at <%= Constants::SHORT_SITENAME%></h1>
			<div class="summary-vert-bg"></div>
			<div id="rotation-box" class="bottom-box">
				<div id="rotation-holder">
					<% get_summary_tuples.each_with_index do |quadruple, idx| %>
						<div id="rotation-unit-<%= idx%>" class="summaries-box">
							<ul class="summary-bullet-points">
								<% quadruple.each do|summary_item| %>
									<%= render :partial=>'widgets/user_or_interview_summary', :object => summary_item%>
								<%end%>
							</ul>
						</div>
					<%end%>
				</div>
				<% if @current_page_info[:intended_for] == :employee %>
					<div class="see-more-box"><%= link_to "More strong professionals eager for a change.", engineers_path, :title => "More strong professionals eager for a change." %></div>
				<% else %>
					<div class="see-more-box"><%= link_to "More strong professionals eager for opportunities.", employer_search_path, :title => "More strong professionals eager for opportunities." %></div>
				<% end %>				
			</div>
		<% end %>	
	</div>
	<%#end blog-inner-box%>
</div><%#end bottom-content-box %>

