<ul class="<%= css_class_for_current_page%>">
	<% if @current_page_info[:intended_for] == :employee %>
		<li class="n_jobs">
			<%= link_to("Jobs", jobs_path)  %>
		</li>			
		<% if current_user %>
			<li class="n_dashboard">
				<%= link_to("Dashboard", user_path(current_user, :locale => current_user.country_code))  %>
			</li>
		<% else %>
			<li class="n_register">
				<%= link_to("Register", register_path)  %>
			</li>
		<% end %>	
		<li class="n_faq">
			<%= link_to "FAQ", faq_path %>
		</li>
		<li class="n_privacy">
			<%= link_to "Terms & Privacy", privacy_path %>
		</li>
	<% elsif @current_page_info[:intended_for] == :employer %>
		<% if current_user %>
			<li class="n_dashboard">
				<%= link_to("Dashboard", employer_path(current_user))  %>
			</li>
		<%else%>
			<li class="n_welcome">
				<%= link_to("Welcome", employer_welcome_path)  %>
			</li>
			<li class="n_get_started">
				<%= link_to "Get Started", employer_get_started_path %>
			</li>
		<%end%>
		<li class="n_search">
			<%= link_to "Candidates", employer_search_path %>
		</li>
		<li class="n_faq">
			<%= link_to "FAQ", employer_faq_path %>
		</li>
		<li class="n_privacy">
			<%= link_to "Terms & Privacy", employer_privacy_path %>
		</li>
	<% elsif @current_page_info[:intended_for] == :all %>
		<li class="n_employers">
			<%= link_to("Employers", employer_welcome_path)  %>
		</li>
			<li class="indented n_welcome">
				<%= link_to("Product tour", employer_welcome_path)  %>
			</li>
			<li class="indented n_get_started">
				<%= link_to "Get Started", employer_get_started_path %>
			</li>
			<li class="indented n_search">
				<%= link_to "Candidates", employer_search_path %>
			</li>			
			<li class="indented n_faq">
				<%= link_to "FAQ", employer_faq_path %>
			</li>
		<li class="n_engineers">
			<%= link_to("Engineers", jobs_path)  %>
		</li>
			<li class="indented n_jobs">
				<%= link_to("Jobs", jobs_path)  %>
			</li>		
			<li class="indented n_register">
				<%= link_to("Register", register_path)  %>
			</li>
			<li class="indented n_faq">
				<%= link_to "FAQ", faq_path %>
			</li>	
	<% end %>
	<li class="n_contact">
		<%=uservoice_contact_link("Contact")%>
	</li> 
</ul>
