<ul>
	<li><%= link_to "Business Insider", "http://www.businessinsider.com/a-networking-trick-that-could-help-you-find-your-next-job-2014-2", :target => "_fyi_press", :class => 'press-link' %></li>						
	<li><%= link_to "FastCompany", "http://www.fastcolabs.com/3022077/the-challenge-of-developing-apps-for-wearable-computing", :target => "_fyi_press", :class => 'press-link' %></li>						
	<li><%= link_to "ERE", "http://www.ere.net/2014/02/26/informational-interviews-for-people-who-dont-need-them/", :target => "_fyi_press", :class => 'press-link' %></li>
	<li><%= link_to "Pando Daily", "http://pando.com/2013/12/21/in-praise-of-the-office-kegerator-the-future-of-better-jobs/", :target => "_fyi_press", :class => 'press-link' %></li>
	<li><%= link_to "Opensource.com", "https://opensource.com/business/13/7/four-tips-project-to-business", :target => "_fyi_press", :class => 'press-link' %>
	<li><%= link_to "Brazen Careerist", "http://blog.brazencareerist.com/2013/04/09/5-genius-ways-to-better-your-career-by-leveraging-the-job-you-already-have/", :target => "_fyi_press", :class => 'press-link' %></li>
	<li><%= link_to "ReadWriteWeb", "http://readwrite.com/2013/08/23/recruiters-jobs-matchmakers-developers", :target => "_fyi_press", :class => 'press-link' %></li>
</ul>
