<!DOCTYPE html>
<html>
	<head>
		<title><%=Constants::SHORT_SITENAME%> admin console</title>

		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'application', :media => "all"%>
	 
	 	<%# GoogleMaps JS here is used for locale lookup%> 
	    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=<%=Constants::GOOGLE_MAPS_API_KEY%>"></script> 
		<%= javascript_include_tag :application %>
		
		<%= yield :more_js %>		
		<%= csrf_meta_tags %>
		<%= favicon_link_tag '/favicon.ico?v=5' %>
	</head>

	<body>
		<div class="content">
			<%= render :partial => 'layouts/flash_box' %>
			<%= yield %>
		</div>
	</body>
</html>
