<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" xmlns="http://www.w3.org/1999/xhtml"  xmlns:fb="http://ogp.me/ns/fb#"><%# Added so that Like and google+ button will work%>


	<head>
		<title><%= title %></title>
		<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'team', :media => "all"%>
		<%= yield :more_style %>
		
		<%= javascript_include_tag :application %>
		<%= yield :more_js %>
		
		<%= csrf_meta_tags %>
		<%= favicon_link_tag '/favicon.ico?v=5' %>
	 
	</head>
	
	<% body_class = @current_page_info[:intended_for].to_s %>
	<body id="<%=css_class_for_current_page%>" class="popup-layout <%=body_class%>">
		<%=render :partial => "layouts/easter_egg"%>
		<div id="container">
			<div id="body">
				<%= yield %>
			</div>
			<div id="footer" class="full-width-strip">
				<span id="copyright">
					&copy; <%=Time.now.year %> <%=Constants::SITENAME%>
				</span>
			</div>
		</div>
		<%= render :partial=> 'widgets/google_analytics' %>
	</body>
</html>